# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Set override_values.yaml path
  ansible.builtin.set_fact:
    vector_databases_helm_override_values_path: "{{ tmp_dir }}/{{ vector_databases.helm.release_name }}-override-values.yaml"
  tags:
    - install
    - pre-upgrade

- name: Enforce PSS
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ vector_databases.namespace }}"
        labels:
          pod-security.kubernetes.io/enforce: "restricted"
  when: enforcePSS
  tags:
    - install

- name: Configure Redis-based vector store
  when: vector_databases.vector_store == 'redis-cluster'
  tags:
    - install
    - pre-upgrade
  block:
    - name: Generate password for Redis
      ansible.builtin.include_role:
        name: generate_password
        tasks_from: generate_password.yaml
        apply:
          tags:
            - pre-upgrade
      loop:
        - { name: 'REDIS', user: "default" }
      when: REDIS_PASSWORD is not defined
      tags:
        - install
        - pre-upgrade

    - name: Generate user connection details for Redis vector store
      ansible.builtin.set_fact:
        vector_database_connection_username: "default"
        vector_database_connection_port: "6379"
      tags:
        - install
        - pre-upgrade

    - name: Generate host connection details for Redis vector store
      ansible.builtin.set_fact:
        vector_database_connection_host: >-
          {{
            vector_databases.namespace + '-' + vector_databases.vector_store +
            '-headless' + '.' + vector_databases.namespace + '.svc'
          }}
      tags:
        - install
        - pre-upgrade

    - name: Generate uri connection details for Redis vector store
      ansible.builtin.set_fact:
        vector_database_connection_host_with_auth: >-
          {{
            "redis://" + vector_database_connection_username + ':' + REDIS_PASSWORD + '@' + vector_database_connection_host  + ':' + vector_database_connection_port
          }}
      tags:
        - install
        - pre-upgrade

- name: Configure Postgres-like vector store
  when: vector_databases.vector_store == 'pgvector'
  tags:
    - install
    - pre-upgrade
  block:
    - name: Generate user connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_username: "edp"
        vector_database_connection_port: "5432"
        vector_database_name: "vdb"

    - name: Generate password
      ansible.builtin.include_role:
        name: generate_password
        tasks_from: generate_password.yaml
        apply:
          tags:
            - pre-upgrade
      loop:
        - { name: 'POSTGRES', user: "{{ vector_database_connection_username }}" }

    - name: Generate host connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_host: >-
          {{
            'pgvector.' + vector_databases.namespace + '.svc'
          }}

    - name: Generate uri connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_host_with_auth: >-
          {{
            "postgresql://" + vector_database_connection_username + ':' + POSTGRES_PASSWORD + '@' + vector_database_connection_host  + ':' + vector_database_connection_port + '/' + vector_database_name
          }}

- name: Configure Mssql-like vector store
  when: vector_databases.vector_store == 'mssql'
  tags:
    - install
  block:
    - name: Read EULA env var
      ansible.builtin.set_fact:
        mssql_eula_env: "{{ lookup('env', 'MSSQL_ACCEPT_EULA') | default('', true) }}"

    - name: Decide whether to prompt for EULA
      ansible.builtin.set_fact:
        mssql_eula_need_prompt: "{{ mssql_eula_env == '' }}"

    - name: Set EULA accepted from env
      ansible.builtin.set_fact:
        mssql_eula_accept: 'Y'
      when: not mssql_eula_need_prompt

    - name: Ask the operator to accept the EULA
      ansible.builtin.pause:
        prompt: |
          Do you accept the Microsoft SQL Server 2025 {{ vector_databases.mssql.mssql_pid }} Edition EULA? [Y/N]
          Type Y to accept, N to decline. Press ENTER to confirm.
      register: mssql_eula_prompt_result
      until: mssql_eula_prompt_result.user_input is match('^[YyNn]$')
      when: mssql_eula_need_prompt
      retries: 5
      delay: 0

    - name: Normalize input to uppercase
      ansible.builtin.set_fact:
        mssql_eula_accept: "{{ mssql_eula_prompt_result.user_input | upper }}"
      when: mssql_eula_need_prompt

    - name: Abort if EULA not accepted
      ansible.builtin.fail:
        msg: "Microsoft SQL Server 2025 EULA not accepted. Aborting installation."
      when: mssql_eula_accept != 'Y'

    - name: Generate password
      ansible.builtin.include_role:
        name: generate_password
        tasks_from: generate_password.yaml
      loop:
        - { name: 'MSSQL', user: "default" }
      tags:
        - install

    - name: Generate user connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_username: "edp"
        vector_database_connection_port: "1433"
        vector_database_name: "vdb"
      tags:
        - install

    - name: Generate host connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_host: >-
          {{
            'mssql.' + vector_databases.namespace + '.svc'
          }}
      tags:
        - install

    - name: Generate uri connection details for vector store
      ansible.builtin.set_fact:
        vector_database_connection_host_with_auth: >-
          {{
            "SERVER=" + vector_database_connection_host + ';DATABASE=' + vector_database_name + ';UID=' + vector_database_connection_username + ';PWD=' + MSSQL_PASSWORD + ';'
          }}
      tags:
        - install

- name: Get pipelines namespaces
  ansible.builtin.include_role:
    name: utils
    tasks_from: get_pipelines_namespaces.yaml
    apply:
      tags:
        - pre-upgrade
  tags:
    - install
    - pre-upgrade

- name: Create namespace list for creating vector db connection details
  ansible.builtin.set_fact:
    vector_db_connection_detail_namespaces: >-
      {{
        (
          [pipeline_namespaces] +
          ([edp.namespace] if edp.enabled else []) +
          ([telemetry.monitoring.namespace] if telemetry.enabled else [])
        ) | flatten
      }}
  tags:
    - install
    - pre-upgrade

- name: Ensure required namespaces exist for vector store configs
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ item }}"
  loop: "{{ vector_db_connection_detail_namespaces | flatten }}"
  ignore_errors: true
  tags:
    - install

- name: Create redis compatible vector store configs for services in namespaces
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "vector-database-config"
        namespace: "{{ item }}"
      data:
        VECTOR_STORE: "{{ vector_databases.vector_store | b64encode }}"
        REDIS_URL: "{{ vector_database_connection_host_with_auth | b64encode }}"
        REDIS_HOST: "{{ vector_database_connection_host | b64encode }}"
        REDIS_PORT: "{{ vector_database_connection_port | b64encode }}"
        REDIS_USERNAME: "{{ vector_database_connection_username | b64encode }}"
        REDIS_PASSWORD: '{{ REDIS_PASSWORD | b64encode }}'
  when:  vector_databases.vector_store == 'redis-cluster'
  no_log: "{{ secure_logs }}"
  loop: "{{ vector_db_connection_detail_namespaces | flatten }}"
  tags:
    - install

- name: Create pgvector compatible vector store configs for services in namespaces
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "vector-database-config"
        namespace: "{{ item }}"
      data:
        VECTOR_STORE: "{{ vector_databases.vector_store | b64encode }}"
        POSTGRES_URL: "{{ vector_database_connection_host_with_auth | b64encode }}"
        POSTGRES_HOST: "{{ vector_database_connection_host | b64encode }}"
        POSTGRES_PORT: "{{ vector_database_connection_port | b64encode }}"
        POSTGRES_USERNAME: "{{ vector_database_connection_username | b64encode }}"
        POSTGRES_PASSWORD: '{{ POSTGRES_PASSWORD | b64encode }}'
        POSTGRES_DB: '{{ vector_database_name | b64encode }}'
  when: vector_databases.vector_store == 'pgvector'
  no_log: "{{ secure_logs }}"
  loop: "{{ vector_db_connection_detail_namespaces | flatten }}"
  tags:
    - install

- name: Create mssql compatible vector store configs for services in namespaces
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "vector-database-config"
        namespace: "{{ item }}"
      data:
        VECTOR_STORE: "{{ vector_databases.vector_store | b64encode }}"
        MSSQL_URL: "{{ vector_database_connection_host_with_auth | b64encode }}"
        MSSQL_HOST: "{{ vector_database_connection_host | b64encode }}"
        MSSQL_PORT: "{{ vector_database_connection_port | b64encode }}"
        MSSQL_USER: "{{ vector_database_connection_username | b64encode }}"
        MSSQL_PASSWORD: '{{ MSSQL_PASSWORD | b64encode }}'
        MSSQL_DB: '{{ vector_database_name | b64encode }}'
  when: vector_databases.vector_store == 'mssql'
  no_log: "{{ secure_logs }}"
  loop: "{{ vector_db_connection_detail_namespaces | flatten }}"
  tags:
    - install

- name: Generate override values file from template
  ansible.builtin.template:
    src: "values.yaml.j2"
    dest: "{{ vector_databases_helm_override_values_path }}"
    mode: '0644'
  tags:
    - install
    - pre-upgrade

- name: Set values_files list
  ansible.builtin.set_fact:
    values_files: >
      {{
        [vector_databases.helm.default_values_file] +
        [vector_databases_helm_override_values_path]
      }}
  tags:
    - install
    - pre-upgrade

- name: Run pre-upgrade checks
  ansible.builtin.include_role:
    name: upgrade
  vars:
    release_namespace: "{{ vector_databases.namespace }}"
    release_name: "{{ vector_databases.helm.release_name }}"
    release_enabled: "{{ vector_databases.enabled }}"
    chart_ref: "{{ vector_databases.helm.chart_directory }}"
    release_values_files: "{{ values_files }}"
  tags:
    - pre-upgrade

- name: Install or Upgrade Helm chart
  kubernetes.core.helm:
    name: "{{ vector_databases.helm.release_name }}"
    chart_ref: "{{ vector_databases.helm.chart_directory }}"
    namespace: "{{ vector_databases.namespace }}"
    values_files: "{{ values_files }}"
    state: present
    create_namespace: true
    post_renderer:
      "{{ tdx_post_renderer_executable ~ ' --post-renderer-args \"' ~ vector_databases.namespace ~ ' ' ~ KBS_ADDRESS ~ '\"'
       if tdx.coco.enabled else omit }}"
    timeout: "{{ helm_timeout }}"
  register: helm_repo_install_result
  until: helm_repo_install_result is succeeded
  retries: 5
  delay: 15
  tags:
    - install

- name: Mark secret for password management
  ansible.builtin.include_role:
    name: password_mgmt
    tasks_from: markup.yaml
    apply:
      tags:
        - install
  vars:
    - namespace: "{{ vector_databases.namespace }}"
    - secret_name: "redis-cluster-secret"
    - password_mappings:
      - { key: REDIS_PASSWORD, variable: REDIS_PASSWORD, user: "default" }
  when: vector_databases.vector_store in ['redis-cluster']
  tags:
    - install

- name: Mark secret for password management
  ansible.builtin.include_role:
    name: password_mgmt
    tasks_from: markup.yaml
    apply:
      tags:
        - install
  vars:
    - namespace: "{{ vector_databases.namespace }}"
    - secret_name: "pgvector-secret"
    - password_mappings:
      - { key: POSTGRES_PASSWORD, variable: POSTGRES_PASSWORD, user: "{{ vector_database_connection_username }}" }
  when: vector_databases.vector_store == 'pgvector'
  tags:
    - install

- name: Mark secret for password management
  ansible.builtin.include_role:
    name: password_mgmt
    tasks_from: markup.yaml
    apply:
      tags:
        - install
  vars:
    - namespace: "{{ vector_databases.namespace }}"
    - secret_name: "mssql-secret"
    - password_mappings:
      - { key: MSSQL_PASSWORD, variable: MSSQL_PASSWORD, user: "{{ vector_database_connection_username }}" }
  when: vector_databases.vector_store == 'mssql'
  tags:
    - install

- name: Uninstall Helm chart
  kubernetes.core.helm:
    name: "{{ vector_databases.helm.release_name }}"
    namespace: "{{ vector_databases.namespace }}"
    state: absent
  tags:
    - uninstall

- name: Delete namespace
  kubernetes.core.k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ vector_databases.namespace }}"
  tags:
    - uninstall
