# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

image:
  repository: redis
  tag: "8.2.2"
  pullPolicy: IfNotPresent

# Password is managed by Ansible in edp-redis-secret

service:
  type: ClusterIP
  port: 6379

resources:
  requests:
    cpu: 100m
    memory: 50Mi
  limits:
    cpu: 150m
    memory: 2Gi

storage:
  size: 10Gi
  storageClassName: ""
