# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# allowInsecureImages due to repository override to: [bitnamilegacy]
global:
  security:
    allowInsecureImages: true

# Set on the command line:
vector_database_password:
vector_database_name:
vector_database_username:

pgvector:
  enabled: false
  image:
    repository: "pgvector/pgvector"
    tag: "pg18-trixie"
  persistence:
    enabled: true
    size: "10Gi"
  resources:
    requests:
      cpu: 2
      memory: 4Gi
    limits:
      cpu: 16
      memory: 16Gi

redis-cluster:
  image:
    repository: bitnamilegacy/redis-cluster
  enabled: false
  metrics:
    image:
      repository: bitnamilegacy/redis-exporter
    enabled: true
  existingSecret: "redis-cluster-secret"
  existingSecretPasswordKey: "REDIS_PASSWORD"
  networkPolicy:
    extraIngress:
      - ports:
        - port: 15008
  cluster:
    nodes: 3
    replicas: 0
  redis:
    image:
      repository: bitnamilegacy/redis
    readinessProbe:
      enabled: false
      initialDelaySeconds: 180
      periodSeconds: 10
      timeoutSeconds: 10
    livenessProbe:
      enabled: false
      initialDelaySeconds: 240
      periodSeconds: 10
      timeoutSeconds: 10
    configmap: |-
      loadmodule /opt/bitnami/redis/lib/redis/modules/redisearch.so MAXSEARCHRESULTS 10000 MAXAGGREGATERESULTS 10000 TIMEOUT 5000
      loadmodule /opt/bitnami/redis/lib/redis/modules/rejson.so MAXDEPTH 1000
    resources:
      requests:
        cpu: 2
        memory: 4Gi
      limits:
        cpu: 16
        memory: 16Gi
  persistence:
    size: "10Gi"

redis:
  enabled: false
  image:
    repository: bitnamilegacy/redis
  metrics:
    image:
      repository: bitnamilegacy/redis-exporter
    enabled: true
  auth:
    enabled: true
    existingSecret: "redis-secret"
    existingSecretPasswordKey: "REDIS_PASSWORD"
  commonConfiguration: |-
    loadmodule /opt/bitnami/redis/lib/redis/modules/redisearch.so MAXSEARCHRESULTS 10000 MAXAGGREGATERESULTS 10000 TIMEOUT 5000
    loadmodule /opt/bitnami/redis/lib/redis/modules/rejson.so MAXDEPTH 1000
  networkPolicy:
    extraIngress:
      - ports:
        - port: 15008
  master:
    persistence:
      enabled: true
      size: "10Gi"
    resources:
      requests:
        cpu: 2
        memory: 4Gi
      limits:
        cpu: 16
        memory: 16Gi
  replica:
    replicaCount: 0
    persistence:
      enabled: true
      size: "10Gi"
    resources:
      requests:
        cpu: 2
        memory: 4Gi
      limits:
        cpu: 16
        memory: 16Gi

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

securityContextWithTemp:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000
