# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Set on the command line:
vector_database_password:
vector_database_name:
vector_database_username:

pgvector:
  enabled: false
  image:
    repository: "pgvector/pgvector"
    tag: "0.8.1-pg18-trixie"
  persistence:
    enabled: true
    size: "10Gi"
  resources:
    requests:
      cpu: 2
      memory: 4Gi
    limits:
      cpu: 16
      memory: 16Gi

redis-cluster:
  enabled: true
  image:
    repository: redis
  serviceAccount:
    name: vdb-redis-cluster
  metrics:
    enabled: true
    image:
      repository: oliver006/redis_exporter
      tag: v1.80.0
      pullPolicy: IfNotPresent
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
  existingSecret: "redis-cluster-secret"
  existingSecretPasswordKey: "REDIS_PASSWORD"
  networkPolicy:
    extraIngress:
      - ports:
        - port: 15008
  cluster:
    nodes: 3
    replicas: 0
  redis:
    image:
      repository: redis
      tag: 8.2.2
      pullPolicy: IfNotPresent
    readinessProbe:
      enabled: false
      initialDelaySeconds: 180
      periodSeconds: 10
      timeoutSeconds: 10
    livenessProbe:
      enabled: false
      initialDelaySeconds: 240
      periodSeconds: 10
      timeoutSeconds: 10
    configmap: |-
      # Cluster timeout
      cluster-node-timeout 15000

      # Load Redis modules with their configuration
      loadmodule /usr/local/lib/redis/modules/redisearch.so MAXSEARCHRESULTS 10000 MAXAGGREGATERESULTS 10000 TIMEOUT 5000
      loadmodule /usr/local/lib/redis/modules/rejson.so MAXDEPTH 1000
    resources:
      requests:
        cpu: 2
        memory: 4Gi
      limits:
        cpu: 16
        memory: 16Gi
  persistence:
    size: "10Gi"

podSecurityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  seccompProfile:
    type: RuntimeDefault

securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

securityContextWithTemp:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: false
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000
