# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

image:
  repository: {{ registry }}/erag-nri-balloons-controller
  tag: {{ tag }}

config:
  targetContainerName: {{ balloons.vllm_custom_name }}
  initContainer:
    image: {{ registry }}/erag-init-container:{{ tag }}
    name: {{ balloons.controller.initContainer.name }}
  balloons:
    namespace: {{ balloons.namespace }}
    daemonsetName: {{ balloons.helm.chart_name }}
    waitTimeout: {{ balloons.wait_timeout }}
