{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}
apiVersion: config.nri/v1alpha1
kind: BalloonsPolicy
metadata:
  name: node.{{ nodeName }}
  namespace: {{ balloons.namespace | default('kube-system') }}
spec:
  agent:
    nodeResourceTopology: true
  allocatorTopologyBalancing: true
  preserve:
    matchExpressions:
    - key: name
      operator: NotIn
      values:
      - vllm
      - edp-vllm
{% if balloons.vllm_custom_name is defined and balloons.vllm_custom_name | length > 0 %}
      - {{ balloons.vllm_custom_name }}
{% endif %}
      - torchserve-reranking
      - {{ embedding_service_type | default('torchserve_embedding') | replace('_', '-') }}
{% if audio is defined and audio.enabled %}
      - vllm-audio-cpu
      - tts-fastapi-model-server
{% endif %}
  balloonTypes:
  - name: reserved
    minCPUs: 1
  - name: vllm-balloon
{% if balloons.vllm_custom_name is defined and balloons.vllm_custom_name | length > 0 %}
    minBalloons: 1
{% else %}
    minBalloons: {{ maxBalloonsVLLM if not gaudi and (vllm_cpus | int) > 0 else 0 }}
    maxBalloons: {{ maxBalloonsVLLM if not gaudi and (vllm_cpus | int) > 0 else 0 }}
{% endif %}
    minCPUs: {{ vllm_cpus if amx_supported and (vllm_cpus | int) > 0 and (maxBalloonsVLLM | int) != 0 and not gaudi else -1 }}
    maxCPUs: {{ vllm_cpus if amx_supported and (vllm_cpus | int) > 0 and (maxBalloonsVLLM | int) != 0 and not gaudi else -1 }}
    allocatorTopologyBalancing: true
    preferNewBalloons: true
    loads:
    - llm-inference
    matchExpressions:
    - key: name
      operator: In
      values:
      - vllm
      - edp-vllm
{% if balloons.vllm_custom_name is defined and balloons.vllm_custom_name | length > 0 %}
      - {{ balloons.vllm_custom_name }}
{% endif %}
  - name: torchserve-reranking-balloon
    minCPUs: {{ reranker_cpus if (amx_supported or gaudi) and (reranker_cpus | int) > 0 and (maxBalloonsReranker | int) != 0 else -1 }}
    maxCPUs: {{ reranker_cpus if (amx_supported or gaudi) and (reranker_cpus | int) > 0 and (maxBalloonsReranker | int) != 0 else -1 }}
{% if balloons.vllm_custom_name is defined and balloons.vllm_custom_name | length > 0 %}
    minBalloons: 0
{% else %}
    minBalloons: {{ maxBalloonsReranker if (reranker_cpus | int) > 0 else 0 }}
{% endif %}
    maxBalloons: {{ maxBalloonsReranker if (reranker_cpus | int) > 0 else 0 }}
    allocatorTopologyBalancing: true
    preferNewBalloons: true
    loads:
    - llm-inference
    matchExpressions:
    - key: name
      operator: In
      values:
      - torchserve-reranking
  - name: {{ embedding_service_type | default('torchserve_embedding') | replace('_', '-') }}-balloon
    minCPUs: {{ embedding_cpus if (amx_supported or gaudi) and (embedding_cpus | int) > 0 and (maxBalloonsEmbedding | int) != 0 else -1 }}
    maxCPUs: {{ embedding_cpus if (amx_supported or gaudi) and (embedding_cpus | int) > 0 and (maxBalloonsEmbedding | int) != 0 else -1 }}
{% if balloons.vllm_custom_name is defined and balloons.vllm_custom_name | length > 0 %}
    minBalloons: 0
{% else %}
    minBalloons: {{ maxBalloonsEmbedding if (embedding_cpus | int) > 0 else 0 }}
{% endif %}
    maxBalloons: {{ maxBalloonsEmbedding if (embedding_cpus | int) > 0 else 0 }}
    allocatorTopologyBalancing: true
    preferNewBalloons: true
    loads:
    - llm-inference
    matchExpressions:
    - key: name
      operator: In
      values:
      - {{ embedding_service_type | default('torchserve_embedding') | replace('_', '-') }}
  instrumentation:
    httpEndpoint: :8891
    metrics:
      enabled:
        - policy
        - buildinfo
    prometheusExport: false
    reportPeriod: 60s
    samplingRatePerMillion: 0
  log:
    source: true
    debug:
      - policy
  pinCPU: true
  pinMemory: true
  reservedPoolNamespaces:
    - kube-system
  reservedResources:
    cpu: "1"
  loadClasses:
  - name: llm-inference
    level: core
    overloadsLevelInBalloon: true
