# Telemetry
telemetry/helm/charts
telemetry/helm/example/GenAIInfra/
telemetry/helm/example/pcm/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc

# Test files
.coverage
