# Deployment
deployment/**/bin/
deployment/*.out
**/charts/*.tgz
**/tmpcharts*/*.tgz
deployment/*.key
deployment/*.crt
deployment/logs
deployment/ansible-logs
deployment/inventory/*
upgrade/metadata
upgrade/reports
!deployment/inventory/sample
!deployment/inventory/localhost

# Model data
src/comps/**/model_server/**/data/

# Telemetry
/deployment/components/telemetry/helm/example/pcm/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc

# Test output files
.coverage
.pytest_cache/
.benchmarks/

# Ignore the .vscode directory
.vscode/

# Ignore JetBrains IDE files
.idea/

# Super-Linter output directory
super-linter-output/

# Tox filex
.tox

# Tox validation files
**/allure-results
**/junitxml_report.xml
**/test_logs


# credentials
deployment/default_credentials.txt
 

# .venv files
*venv*/
.venv/

# Test evaluation datatsets
**/multihop_dataset/
**/tmp_corpus.txt
src/tests/e2e/evals/evaluation/rag_eval/examples/output/

# UI test framework dependencies and results
src/tests/node_modules
test-results

# Terraform 
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
