# Telemetry
telemetry/helm/charts
telemetry/helm/example/GenAIInfra/
telemetry/helm/example/pcm/

# Deployment
deployment/**/bin/
deployment/*.out
deployment/**/Chart.lock
deployment/**/charts/*.tgz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Compiled Python files
*.pyc

# Test output files
.coverage
.pytest_cache/

# Ignore the .vscode directory
.vscode/

# Super-Linter output directory
super-linter-output/

# Tox filex
.tox