# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---

- name: Create directory for upgrade metadata
  ansible.builtin.file:
    path: "{{ upgrade_metadata_dir }}"
    state: directory
    mode: '755'
  tags:
    - pre-upgrade

- name: Pre-upgrade checks for deployment
  tags:
    - pre-upgrade
  vars:
    release_namespace: "{{ undef() }}"
    release_name: "{{ undef() }}"
    release_enabled: "{{ undef() }}"
    chart_ref: "{{ undef() }}"
    chart_version: "{{ undef() }}"
    release_values_files: "{{ undef() }}"
  block:
    - name: Render Helm chart manifest for upgrade
      kubernetes.core.helm_template:
        name: "{{ release_name }}"
        chart_ref: "{{ chart_ref }}"
        chart_version: "{{ chart_version | default(omit) }}"
        dependency_update: false
        release_namespace: "{{ release_namespace }}"
        values_files: "{{ release_values_files }}"
        show_only: []
      register: template
      when: release_enabled

    - name: Write rendered upgrade manifest to file
      copy:
        dest: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-upgrade.yaml"
        content: "{{ template.stdout }}"
      when: release_enabled

    - name: Render values applicable to upgrade
      kubernetes.core.helm_template:
        name: "release-review"
        chart_ref: "{{ role_path }}/templates/release-review"
        dependency_update: false
        release_namespace: "{{ release_namespace }}"
        values_files: "{{ release_values_files }}"
        show_only: []
      register: rendered_values
      when: release_enabled

    - name: Append rendered upgrade values to upgrade manifest
      ansible.builtin.lineinfile:
        dest: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-upgrade.yaml"
        line: |-
          {{- rendered_values.stdout }}
      when: release_enabled

    - name: Write empty upgrade manifest in case release is not enabled
      copy:
        dest: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-upgrade.yaml"
        content: ""
      when: not release_enabled

    - name: Extract existing release manifest
      kubernetes.core.helm_info:
        name: "{{ release_name }}"
        namespace: "{{ release_namespace }}"
        release_state:
          - deployed
      register: helm_release_info

    - name: Write existing release manifest to file
      copy:
        dest: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-manifest.yaml"
        content: "{{ helm_release_info.status.manifest | to_nice_yaml(indent=2, width=1048576) }}"
      when:
        helm_release_info.status is defined

    - name: Append supplied values in a ConfigMap to manifest
      ansible.builtin.lineinfile:
        path: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-manifest.yaml"
        line: |
          - apiVersion: v1
            kind: ConfigMap
            metadata:
              name: release-values
              namespace: {{ release_namespace }}
            data:
              release-values.yaml: |-
          {{ helm_release_info.status['values'] | to_nice_yaml(indent=2) | indent(6, True) }}
        insertafter: EOF
      when:
        helm_release_info.status is defined

    - name: Write empty existing release manifest in case release is not installed
      copy:
        dest: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-manifest.yaml"
        content: ""
      when: helm_release_info.status is not defined

    - name: Compare Helm releases
      ansible.builtin.include_role:
        name: manifest-compare
      vars:
        manifest_file_path: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-manifest.yaml"
        upgrade_file_path: "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-upgrade.yaml"

    - name: Clean up collected manifests
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-manifest.yaml"
        - "{{ upgrade_metadata_dir }}/{{ release_namespace }}-{{ release_name }}-upgrade.yaml"
