s3:
  enabled: true
  port: {{ seaweedfs.s3.port | default(8333) }}
  loggingOverrideLevel: {{ seaweedfs.s3.loggingOverrideLevel | default(5) }}

  enableAuth: {{ not (edp.rbac.enabled | default(false)) }}

  logs:
    type: "stederr"

  extraArgs:
{% if edp.rbac.enabled | default(false) %}
    - "-iam.config=/etc/seaweedfs/iam/seaweedfs_s3_config"
{% endif %}
    - "-tlsVerifyClientCert=false"

  # Disable the static identity secret completely
  # We want to support both if RBAC is enabled (IAM for OIDC, Secret for static admin)
  createSecret: false
{% if not (edp.rbac.enabled | default(false)) %}
  existingConfigSecret: "seaweedfs-s3-secret"
{% endif %}
  credentials:
    enabled: true

  extraVolumes: |
{% if edp.rbac.enabled | default(false) %}
    - name: iam-config
      secret:
        secretName: seaweedfs-iam-config
{% endif %}
  extraVolumeMounts: |
{% if edp.rbac.enabled | default(false) %}
    - name: iam-config
      mountPath: /etc/seaweedfs/iam
      readOnly: true
{% endif %}


  ingress:
    enabled: true
    className: "nginx"
    host: "{{ s3_host }}"
    path: "/"
    pathType: "Prefix"
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: '0'
      nginx.ingress.kubernetes.io/proxy-connect-timeout: '600'
      nginx.ingress.kubernetes.io/proxy-send-timeout: '600'
      nginx.ingress.kubernetes.io/proxy-read-timeout: '600'
      nginx.ingress.kubernetes.io/enable-cors: 'true'
      nginx.ingress.kubernetes.io/cors-allow-origin: '*'
      nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
      nginx.ingress.kubernetes.io/cors-allow-headers: "Content-Type,Authorization"
      nginx.ingress.kubernetes.io/preserve-host: 'true'


filer:
  data:
{% if seaweedfs.persistence.enabled | default(false) %}
    type: "persistentVolumeClaim"
    size: "{{ seaweedfs.persistence.filer.size | default('10Gi') }}"
{% if seaweedfs.persistence.storageClass is defined and seaweedfs.persistence.storageClass != "" %}
    storageClass: "{{ seaweedfs.persistence.storageClass }}"
{% endif %}
{% endif %}

  s3:
    enabled: true
    enableAuth: {{ not (edp.rbac.enabled | default(false)) }}
{% if not (edp.rbac.enabled | default(false)) %}
    existingConfigSecret: "seaweedfs-s3-secret"
{% endif %}
{% if seaweedfs.createBuckets is defined %}
    createBuckets:
{{ seaweedfs.createBuckets | to_nice_yaml | indent(4, true) }}
{% endif %}
  iam: true
  notificationConfig: |-
    [notification.webhook]
    enabled = true
    endpoint = "{{ seaweedfs.webhook_endpoint | default('http://edp-backend.edp.svc:5000/seaweedfs_event') }}"


volume:
{% if seaweedfs.persistence.enabled | default(false) %}
  dataDirs:
    - name: data
      type: "persistentVolumeClaim"
      size: "{{ seaweedfs.persistence.volume.size | default('10Gi') }}"
      maxVolumes: 0
{% if seaweedfs.persistence.storageClass is defined and seaweedfs.persistence.storageClass != "" %}
      storageClass: "{{ seaweedfs.persistence.storageClass }}"
{% endif %}
{% endif %}

master:
  data:
{% if seaweedfs.persistence.enabled | default(false) %}
    type: "persistentVolumeClaim"
    size: "{{ seaweedfs.persistence.master.size | default('10Gi') }}"
{% if seaweedfs.persistence.storageClass is defined and seaweedfs.persistence.storageClass != "" %}
    storageClass: "{{ seaweedfs.persistence.storageClass }}"
{% endif %}
  volumeSizeLimitMB: "{{ seaweedfs.persistence.master.volumeSizeLimitMB | default('1024') }}"
{% endif %}

admin:
  enabled: true
  secret:
    existingSecret: "seaweedfs-admin-secret"
    userKey: "adminUser"
    pwKey: "adminPassword"
  ingress:
    enabled: true
    className: "nginx"
    host: "{{ admin_host }}"
    path: "/"
    pathType: "Prefix"
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: '0'
      nginx.ingress.kubernetes.io/enable-cors: 'true'
