# Copyright (C) 2024 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

shortuuid==1.0.13
langchain-community==0.2.12
langchain-core==0.2.30
numpy==1.26.4

redis==5.0.8
qdrant-client==1.11.0
pymilvus==2.4.5
