# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Set override_values.yaml path
  ansible.builtin.set_fact:
    fingerprint_helm_override_values_path: >-
      {{ tmp_dir }}/{{ fingerprint.helm.release_name }}-override-values.yaml
  tags:
    - install
    - pre-upgrade

- name: Build Helm chart dependencies
  ansible.builtin.command:
    cmd: helm dependency build
    chdir: "{{ fingerprint.helm.chart_directory }}"
  register: helm_repo_add_result
  until: helm_repo_add_result is succeeded
  retries: 5
  delay: 15
  tags:
    - install
    - pre-upgrade

- name: Generate password
  ansible.builtin.include_role:
    name: generate_password
    tasks_from: generate_password.yaml
    apply:
      tags:
        - pre-upgrade
  loop:
    - name: FINGERPRINT_POSTGRES
      user: "{{ fingerprint.database.auth.user.db_user }}"
  tags:
    - install
    - pre-upgrade

# Creates chatqa_namespace
- name: Get chatqa namespace
  ansible.builtin.include_role:
    name: utils
    tasks_from: get_chatqa_namespace.yaml
  tags:
    - install

- name: Ensure namespace exists
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ item }}"
  loop:
    - "{{ fingerprint.namespace }}"
    - "{{ chatqa_namespace }}"
  tags:
    - install

- name: Enforce PSS
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ fingerprint.namespace }}"
        labels:
          pod-security.kubernetes.io/enforce: "restricted"
  when: enforcePSS
  tags:
    - install

- name: Create password secret
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: "{{ fingerprint.database.auth.password_secret_name }}"
        namespace: "{{ item }}"
      data:
        POSTGRES_PASSWORD: "{{ FINGERPRINT_POSTGRES_PASSWORD | b64encode }}"
        POSTGRES_USER: >-
          {{ fingerprint.database.auth.user.db_user | b64encode }}
        POSTGRES_DB: "{{ 'postgres' | b64encode }}"
  no_log: "{{ secure_logs }}"
  loop:
    - "{{ fingerprint.namespace }}"
    - "{{ chatqa_namespace }}"
  tags:
    - install

- name: Generate override values file from template
  ansible.builtin.template:
    src: "values.yaml.j2"
    dest: "{{ fingerprint_helm_override_values_path }}"
    mode: '0644'
  tags:
    - install
    - pre-upgrade

- name: Set values_files list
  ansible.builtin.set_fact:
    values_files: >
      {{
        [fingerprint.helm.default_values_file] +
        ([fingerprint.helm.tdx_resources_file]
         if (tdx.coco.enabled | bool) else []) +
        [fingerprint_helm_override_values_path]
      }}
  tags:
    - install
    - pre-upgrade

- name: Run pre-upgrade checks
  ansible.builtin.include_role:
    name: upgrade
  vars:
    release_namespace: "{{ fingerprint.namespace }}"
    release_name: "{{ fingerprint.helm.release_name }}"
    release_enabled: "{{ fingerprint.enabled }}"
    chart_ref: "{{ fingerprint.helm.chart_directory }}"
    release_values_files: "{{ values_files }}"
  tags:
    - pre-upgrade

- name: Install or Upgrade Helm chart
  kubernetes.core.helm:
    name: "{{ fingerprint.helm.release_name }}"
    chart_ref: "{{ fingerprint.helm.chart_directory }}"
    namespace: "{{ fingerprint.namespace }}"
    values_files: "{{ values_files }}"
    state: present
    create_namespace: true
    timeout: "{{ helm_timeout }}"
#    This can replace chart and template based deployments with TDX
#    post_renderer:
#      "{{ tdx_post_renderer_executable ~
#          ' --post-renderer-args \"' ~ fingerprint.namespace ~
#          ' ' ~ KBS_ADDRESS ~ '\"' if (tdx.coco.enabled) else omit }}"
  register: helm_repo_install_result
  until: helm_repo_install_result is succeeded
  retries: 5
  delay: 15
  tags:
    - install

- name: Mark secret for password management
  ansible.builtin.include_role:
    name: password_mgmt
    tasks_from: markup.yaml
    apply:
      tags:
        - install
  vars:
    - namespace: "{{ fingerprint.namespace }}"
    - secret_name: "{{ fingerprint.database.auth.password_secret_name }}"
    - password_mappings:
      - { key: POSTGRES_PASSWORD, variable: FINGERPRINT_POSTGRES_PASSWORD, user: "{{ fingerprint.database.auth.user.db_user }}" }
  tags:
    - install

- name: Uninstall Helm chart
  kubernetes.core.helm:
    name: "{{ fingerprint.helm.release_name }}"
    namespace: "{{ fingerprint.namespace }}"
    state: absent
  tags:
    - uninstall

- name: Delete namespace
  kubernetes.core.k8s:
    state: absent
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ fingerprint.namespace }}"
  tags:
    - uninstall
