apiVersion: v1
kind: Service
metadata:
  name: {{ include "edp-redis.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: redis
      protocol: TCP
      name: redis
  selector:
    app: {{ include "edp-redis.name" . }}
