# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "fingerprint.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "fingerprint.name" . }}
    helm.sh/chart: {{ include "fingerprint.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "fingerprint.selectorLabels" . | nindent 8 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- include "manifest.podLabels" (list .Values.fullnameOverride .) | nindent 6 }}
      {{- include "manifest.tdx.annotations" (list .Values.fullnameOverride .) | nindent 6 }}
    spec:
      {{- include "manifest.tdx.runtimeClassName" (list .Values.fullnameOverride .) | nindent 6 }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      serviceAccountName: fingerprint
      initContainers:
        - name: wait-for-ferretdb
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          image: busybox:1.35
          imagePullPolicy: {{ .Values.image.fingerprint.pullPolicy }}
          env:
            - name: FERRETDB_HOST
              value: "{{ .Values.ferretdb.nameOverride }}-ferretdb"
            - name: FERRETDB_PORT
              value: "{{ .Values.ferretdb.service.port }}"
          command:
            - sh
            - -c
            - |
                until nc -z $FERRETDB_HOST $FERRETDB_PORT; do
                  echo "Waiting for FerretDB server $FERRETDB_HOST:$FERRETDB_PORT to be ready...";
                  sleep 2;
                done;
                echo "FerretDB server $FERRETDB_HOST:$FERRETDB_PORT is ready!";
      containers:
        - name: {{ include "fingerprint.fullname" . }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{ if .Values.alternateTagging }}
          image: {{ .Values.image.fingerprint.repository }}:{{ .Values.image.fingerprint.name }}_{{ .Values.image.fingerprint.tag }}
          {{ else }}
          image: {{ .Values.image.fingerprint.repository }}/{{ .Values.image.fingerprint.name }}:{{ .Values.image.fingerprint.tag }}
          {{ end }}
          imagePullPolicy: {{ .Values.image.fingerprint.pullPolicy }}
          env:
            # legacy MONGO_* envs for fingerprint service
            - name: SYSTEM_FINGERPRINT_MONGODB_HOST
              value: "{{ .Values.ferretdb.nameOverride }}-ferretdb"
            - name: SYSTEM_FINGERPRINT_MONGODB_PORT
              value: "{{ .Values.ferretdb.service.port }}"
            - name: MONGODB_NAME
              value: "SYSTEM_FINGERPRINT"
            - name: MONGO_USER
              valueFrom:
                secretKeyRef:
                  name: "mongo-database-secret"
                  key: POSTGRES_USER
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: "mongo-database-secret"
                  key: POSTGRES_PASSWORD
          {{- if .Values.proxy.httpProxy }}
            - name: http_proxy
              value: {{ .Values.proxy.httpProxy }}
          {{- end }}
          {{- if .Values.proxy.httpsProxy }}
            - name: https_proxy
              value: {{ .Values.proxy.httpsProxy }}
          {{- end }}
          {{- if .Values.proxy.noProxy }}
            - name: no_proxy
              value: {{ .Values.proxy.noProxy }}
          {{- end }}
          ports:
            - name: http
              containerPort: 6012
          livenessProbe:
            httpGet:
              path: /v1/health_check
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /v1/health_check
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
          resources:
            {{- $defaultValues := toYaml .Values.resources | nindent 12 -}}
            {{- include "manifest.getResource" (list .Values.fullnameOverride $defaultValues .Values) | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
