{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: default
  namespace: {{ item }}
spec:
  mtls:
    mode: STRICT
{% if item == "monitoring" and hpaEnabled %}
  selector:
    matchLabels:
      app.kubernetes.io/name: prometheus-adapter
  portLevelMtls:
    6443:
      mode: PERMISSIVE
    443:
      mode: PERMISSIVE
{% elif item == "system" %}
  selector:
    matchLabels:
      app.kubernetes.io/name: gmc
  portLevelMtls:
    9443:
      mode: PERMISSIVE
{% elif item == "vdb" %}
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-cluster
  portLevelMtls:
    16379:
      mode: DISABLE
{% elif item == gateway.namespace | default("erag-gateway") %}
  selector:
    matchLabels:
      gateway.networking.k8s.io/gateway-name: erag-gateway
  portLevelMtls:
    80:
      mode: PERMISSIVE
    443:
      mode: PERMISSIVE
{% endif %}
