# Copyright (C) 2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
- name: Backup and restore execution playbook
  hosts: localhost
  environment:
    K8S_AUTH_KUBECONFIG: >-
      {{
        kubeconfig if (kubeconfig is defined and kubeconfig != '' and kubeconfig != 'FILL_HERE')
        else lookup('env', 'KUBECONFIG')
      }}
    KUBECONFIG: >-
      {{
        kubeconfig if (kubeconfig is defined and kubeconfig != '' and kubeconfig != 'FILL_HERE')
        else lookup('env', 'KUBECONFIG')
      }}
  vars_files:
    - "../version.yaml"
  vars:
    deployment_dir: "{{ playbook_dir }}/.."
    components_dir: "{{ deployment_dir }}/components"
    pipelines_dir: "{{ deployment_dir }}/pipelines/"
    log_dir: "{{ deployment_dir }}/ansible-logs"
    tmp_dir: "{{ log_dir }}/tmp"
    secure_logs: true

  pre_tasks:
    - name: Load default settings
      ansible.builtin.include_role:
        name: pre_install
        tasks_from: load_initial_settings.yaml
      tags:
        - backup
        - restore

  tasks:

  - name: Verify velero is available for backup and restore
    ansible.builtin.include_role:
      name: backup
      tasks_from: common.yaml
      apply:
        tags:
          - backup
          - restore
    tags:
      - backup
      - restore

  - name: Execute backup tasks
    ansible.builtin.include_role:
      name: backup
      tasks_from: backup.yaml
      apply:
        tags: backup
    tags:
      - backup

  - name: Execute restore tasks
    ansible.builtin.include_role:
      name: backup
      tasks_from: restore.yaml
      apply:
        tags: restore
    tags:
      - restore
