# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
---
- name: Pre-setup tasks
  become: false
  gather_facts: true
  hosts: localhost
  vars:
    deployment_dir: "{{ playbook_dir }}/.."
  tasks:
    - name: Pre-configure environment role
      ansible.builtin.include_role:
        name: configure
      tags:
        - configure
        - never
    - name: Build and push images
      ansible.builtin.include_role:
        name: images
      tags:
        - build-images
