{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

apiVersion: v1
kind: Pod
metadata:
  name: tdx-attestation
  namespace: tdx 
  annotations:
    mounts.nri.io: |
      - source: "configfs"
        destination: "/sys/kernel/config"
        type: "configfs"
        options:
          - "nosuid"
          - "noexec"
          - "nodev"
spec:
  containers:
  - name: tdx-attestation
    image: ubuntu:latest
    volumeMounts:
      - name: kbs-client
        mountPath: /root
    securityContext:
      privileged: true
    command: ["/bin/sh","-c"]
    args:
      - |
        (/root/kbs-client --url {{ KBS_ADDRESS }} attest | grep -iv "Error" | grep -iv "error" && echo "ATTESTATION COMPLETED SUCCESSFULLY") || (echo "ATTESTATION FAILED" && exit 1);
  restartPolicy: Never
  volumes:
    - name: kbs-client
      hostPath:
        path: /opt/trustee/target/release
