architecture: x86_64
kata-as-coco-runtime:
  imagePullPolicy: Always
  snapshotter:
    setup: ["nydus"]
  shims:
    qemu-tdx:
      enabled: true
      supportedArches:
        - amd64
      containerd:
        snapshotter: nydus
        forceGuestPull: false
      crio:
        guestPull: true
      agent:
        httpsProxy: "{{ httpsProxy | default('') }}"
        noProxy: "{{ noProxy | default('') }}"

    qemu-nvidia-gpu-tdx:
      enabled: true
      supportedArches:
        - amd64
      containerd:
        snapshotter: nydus
        forceGuestPull: false
      crio:
        guestPull: true
      agent:
        httpsProxy: "{{ httpsProxy | default('') }}"
        noProxy: "{{ noProxy | default('') }}"

    clh:
      enabled: false
    cloud-hypervisor:
      enabled: false
    dragonball:
      enabled: false
    fc:
      enabled: false
    qemu:
      enabled: false
    qemu-runtime-rs:
      enabled: false
    qemu-snp:
      enabled: false
    qemu-coco-dev:
      enabled: false
    qemu-coco-dev-runtime-rs:
      enabled: false

  defaultShim:
    amd64: qemu-tdx
