{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

{% for pipeline in pipelines %}
{% if pipeline.type == "docsum" %}
type: docsum
{% endif %}
{% endfor %}

domainName: &dname {{ ui.domainName }}
tlsSecret: &tsecret {{ ui.tls.secret_name }}

extraUiConfigVars:
  keycloakDomainName: "{{ keycloak.domainName }}"
  keycloakRealm: "{{ ui.extraUiConfigVars.keycloakRealm }}"
  keycloakClientId: "{{ ui.extraUiConfigVars.keycloakClientId }}"
  adminResourceRole: "{{ ui.extraUiConfigVars.adminResourceRole }}"
  grafanaDomainName: "{{ telemetry.domainName }}"
  keycloakAdminPanelDomainName: "{{ keycloak.domainName }}"
  s3DomainName: "{{ edp.minio.apiDomainName }}"
  chatDisclaimerText: "{{ ui.extraUiConfigVars.chatDisclaimerText }}"

service:
  type: ClusterIP
  name: &svcName "ui-chart"
  port: &svcPort 4173

{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}
{% if tdx.coco.enabled %}
tdx:
  common:
    kbsAddress: {{ KBS_ADDRESS }}
{% endif %}
{% if tag is defined %}
image:
  ui:
{% for pipeline in pipelines %}
{% if pipeline.type == "docsum" %}
    name: erag-docsum-ui
{% endif %}
{% endfor %}
    tag: {{ tag }}
    repository: {{ registry }}
{% endif %}
ingress:
  enabled: true
  className: nginx
  annotations: {}
  tls:
    - hosts:
      - *dname
      secretName: *tsecret
  hosts:
    - host: *dname
      paths:
        - pathType: Prefix
          path: /
          backend:
            service:
              name: *svcName
              port:
                number: *svcPort
{% if ui.additional_values is defined %}
{{ ui.additional_values | to_nice_yaml }}
{% endif %}
