{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

{% for pipeline in pipelines %}
{% if pipeline.type == "docsum" %}
type: docsum
{% elif pipeline.type == "chatqa" and audio.enabled is defined and audio.enabled %}
type: audioqna
{% endif %}
{% endfor %}

domainName: &dname {{ ui.domainName }}
tlsSecret: &tsecret {{ ui.tls.secret_name }}

extraUiConfigVars:
  keycloakDomainName: "{{ keycloak.domainName }}"
{% if keycloak.pathPrefix is defined %}
  keycloakPathPrefix: "{{ keycloak.pathPrefix }}"
{% endif %}
  keycloakRealm: "{{ ui.extraUiConfigVars.keycloakRealm }}"
  keycloakClientId: "{{ ui.extraUiConfigVars.keycloakClientId }}"
  adminResourceRole: "{{ ui.extraUiConfigVars.adminResourceRole }}"
  maintainerResourceRole: "{{ ui.extraUiConfigVars.maintainerResourceRole }}"
  grafanaDomainName: "{{ telemetry.domainName }}"
{% if telemetry.pathPrefix is defined %}
  grafanaPathPrefix: "{{ telemetry.pathPrefix }}"
{% endif %}
  keycloakAdminPanelDomainName: "{{ keycloak.domainName }}"
  s3DomainName: "{{ edp.minio.apiDomainName }}"
{% if edp.s3PathPrefix is defined %}
  s3PathPrefix: "{{ edp.s3PathPrefix }}"
{% endif %}
  chatDisclaimerText: "{{ ui.extraUiConfigVars.chatDisclaimerText }}"
  chatMaintenanceMode: "{{ chat_maintenance_mode | default(upload_pipelines | default(false)) | string | lower }}"
  audioEnabled: "{{ audio.enabled | default(false) }}"
  asrModel: "{{ audio.asr_model | default('openai/whisper-small') }}"
  useBearerTokenAuth: "{{ (edp.storageType | default('') == 'seaweedfs') and (edp.rbac.enabled | default(false)) }}"
  nerEnabled: "{{ ner.enabled | default(false) }}"
  embeddingModelMigrationRequired: "{{ embedding_migration_required | default('false') }}"
  embeddingModelOldModel: "{{ embedding_migration_old_model | default('') }}"
  embeddingModelNewModel: "{{ embedding_migration_new_model | default('') }}"

service:
  type: ClusterIP
  name: &svcName "ui-chart"
  port: &svcPort 4173

{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}
{% if tag is defined %}
image:
  ui:
{% for pipeline in pipelines %}
{% if pipeline.type == "docsum" %}
    name: erag-docsum-ui
{% elif pipeline.type == "chatqa" and audio.enabled is defined and audio.enabled %}
    name: erag-audioqna-ui
{% endif %}
{% endfor %}
    tag: {{ tag }}
    repository: {{ registry }}
{% endif %}
extraNginxVars:
  mcpEnabled: {{ (mcp is defined and mcp.enabled) | lower }}

ingress:
  enabled: false

httpRoute:
  enabled: true
  gatewayRef:
    name: erag-gateway
    namespace: erag-gateway
  hostnames:
    - *dname
{% if ui.additional_values is defined %}
{{ ui.additional_values | to_nice_yaml }}
{% endif %}
