{#
Copyright (C) 2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

veleroAccessKey: "{{ VELERO_SEAWEEDFS_ACCESS_KEY }}"
veleroSecretKey: "{{ VELERO_SEAWEEDFS_SECRET_KEY }}"

seaweedfs:
  enabled: true
  master:
    enabled: true
    replicas: 1
    data:
      type: "persistentVolumeClaim"
      size: "{{ velero.seaweedfs.persistence.master.size | default('2Gi') }}"
{% if velero_storage_class_name != "" %}
      storageClass: "{{ velero_storage_class_name }}"
{% endif %}
    volumeSizeLimitMB: {{ velero.seaweedfs.persistence.master.volumeSizeLimitMB | default(1024) }}
  volume:
    enabled: true
    replicas: 1
    dataDirs:
      - name: data1
        type: "persistentVolumeClaim"
        size: "{{ velero.seaweedfs.persistence.volume.size | default('500Gi') }}"
{% if velero_storage_class_name != "" %}
        storageClass: "{{ velero_storage_class_name }}"
{% endif %}
        maxVolumes: 0
  filer:
    enabled: true
    replicas: 1
    data:
      type: "persistentVolumeClaim"
      size: "{{ velero.seaweedfs.persistence.filer.size | default('2Gi') }}"
{% if velero_storage_class_name != "" %}
      storageClass: "{{ velero_storage_class_name }}"
{% endif %}
    s3:
      enabled: true
      enableAuth: false
      createBuckets:
        - name: velero
          anonymousRead: false
  s3:
    enabled: true
    port: 8333
    enableAuth: false
    createSecret: false
    existingConfigSecret: "seaweedfs-s3-secret"
    credentials:
      enabled: true
    ingress:
      enabled: false
  admin:
    enabled: false

velero:
  resources: {}

  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.12.1
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
  credentials:
    useSecret: true
    existingSecret: velero-seaweedfs-access-secrets
  configuration:
    features: EnableCSI
    snapshotsEnabled: false
    uploaderType: kopia
    defaultItemOperationTimeout: 120m
    extraArgs:
      - "--resource-timeout=120m"
    backupStorageLocation:
      - name: default
        provider: aws
        bucket: velero
        default: true
        config:
          region:
          s3ForcePathStyle: "true"
          s3Url: http://seaweedfs-s3.velero.svc:8333
    volumeSnapshotLocation: []
    extraEnvVars:
      - name: "NO_PROXY"
        value: "seaweedfs-s3.velero.svc"
  kubectl:
    image:
{% if use_alternate_tagging is defined and use_alternate_tagging %}
      repository: {{ registry }}
      tag: erag-init-container_{{ tag }}
{% else %}
      repository: {{ registry }}/erag-init-container
      tag: {{ tag }}
{% endif %}
