# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

aiohttp==3.13.5
pytest==9.0.3 # MIT
allure-pytest==2.15.3 # Apache 2.0
requests==2.33.1 # Apache 2.0
kr8s==0.20.15 # BSD 3-Clause License
sniffio==1.3.1 # MIT
pytest-timeout==2.4.0 # MIT
sentence-transformers==5.4.1 # Apache 2.0
rouge==1.0.1 # Apache 2.0
sherpa-onnx==1.12.39 # Apache 2.0
pydub==0.25.1 # MIT
