{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

{% if vector_databases.vector_store == "pgvector" %}
vector_database_password: {{ POSTGRES_PASSWORD }}
vector_database_username: {{ vector_database_connection_username | default("edp") }}
vector_database_name: {{ vector_database_name | default("vdb") }}

pgvector:
  enabled: true

{% endif %}

{% if vector_databases.vector_store == "redis" %}
vector_database_password: {{ REDIS_PASSWORD }}

redis:
  enabled: true
  replicaCount: {{ vector_databases.redis.replicaCount | default(0) }}
  auth:
    password: {{ REDIS_PASSWORD }}

{% endif %}

{% if vector_databases.vector_store == "redis-cluster" %}
vector_database_password: {{ REDIS_PASSWORD }}

redis-cluster:
  password: {{ REDIS_PASSWORD }}
  enabled: true
  cluster:
    nodes: {{ vector_databases["redis-cluster"].cluster.nodes | default(3) }}
    replicas: {{ vector_databases["redis-cluster"].cluster.replicas | default(0) }}

{% endif %}
