{{- if index .Values "app-monitors" "enabled" }}
# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: redis-cluster-metrics
  labels:
    release: {{.Release.Name}}
spec:
  namespaceSelector:
    matchNames:
    - vdb
  selector:
    matchLabels:
      app.kubernetes.io/name: redis-cluster
  endpoints:
  - port: metrics
    interval: 30s
    relabelings:
    - sourceLabels: [__meta_kubernetes_namespace]
      targetLabel: namespace
      action: replace
    - sourceLabels: [__meta_kubernetes_pod_name]
      targetLabel: pod
      action: replace
    - sourceLabels: [__meta_kubernetes_pod_node_name]
      targetLabel: node
      action: replace
    - sourceLabels: [__meta_kubernetes_service_name]
      targetLabel: service
      action: replace
    - sourceLabels: [__meta_kubernetes_pod_name]
      targetLabel: instance
      action: replace
    - sourceLabels: [__address__]
      targetLabel: addr
      action: replace
    - sourceLabels: [__meta_kubernetes_pod_ip]
      separator: ':'
      regex: (.*)
      targetLabel: pod_ip
      replacement: ${1}
      action: replace
{{- end }}
