[defaults]
callback_result_format = yaml
callbacks_enabled = profile_tasks,minimal
deprecation_warnings = False
hash_behaviour = merge
host_key_checking = False
log_path = ansible.log
roles_path = roles:roles/application:roles/common:roles/infrastructure
