# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

veleroAccessKey: ""
veleroSecretKey: ""

snapshotSupport:
  installSnapshotClass: false
  snapshotClassName: "csi-snapclass"
  snapshotClassDriver: ""

seaweedfs:
  enabled: true
  global:
    # needs to be distinct for Velero's instance of SeaweedFS to avoid resource naming conflicts
    serviceAccountName: "velero-seaweedfs"
  master:
    enabled: true
    replicas: 1
    data:
      type: "persistentVolumeClaim"
      size: "2Gi"
    volumeSizeLimitMB: 1024
  volume:
    enabled: true
    replicas: 1
    dataDirs:
      - name: data1
        type: "persistentVolumeClaim"
        size: "500Gi"
        maxVolumes: 0
  filer:
    enabled: true
    replicas: 1
    data:
      type: "persistentVolumeClaim"
      size: "2Gi"
    s3:
      enabled: true
      enableAuth: false
      createBuckets:
        - name: velero
          anonymousRead: false
  s3:
    enabled: true
    port: 8333
    enableAuth: false
  admin:
    enabled: false

velero:
  resources: {}

  initContainers:
    - name: velero-plugin-for-aws
      image: velero/velero-plugin-for-aws:v1.12.1
      imagePullPolicy: IfNotPresent
      volumeMounts:
        - mountPath: /target
          name: plugins
  credentials:
    useSecret: true
    existingSecret: velero-seaweedfs-access-secrets
  configuration:
    features: EnableCSI
    snapshotsEnabled: false
    defaultItemOperationTimeout: 120m
    extraArgs:
      - "--resource-timeout=120m"
    backupStorageLocation:
      - name: default
        provider: aws
        bucket: velero
        default: true
        config:
          region:
          s3ForcePathStyle: "true"
          s3Url: http://seaweedfs-s3.velero.svc:8333
    volumeSnapshotLocation: []
    extraEnvVars:
      - name: "NO_PROXY"
        value: "seaweedfs-s3.velero.svc"
