# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Load KBS address
  ansible.builtin.set_fact:
    KBS_ADDRESS: "{{ lookup('env', 'KBS_ADDRESS') }}"
  tags:
    - install

- name: Fail if  KBS address does not exist
  ansible.builtin.fail:
    msg: "KBS_ADDRESS is not set. Please set the KBS_ADDRESS environment variable."
  when: KBS_ADDRESS is not defined or KBS_ADDRESS | length == 0
  tags:
    - install

- name: Create namespace TDX
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: tdx
    state: present
  tags:
    - install

- name: Deploy attestation pod
  kubernetes.core.k8s:
    state: present
    template: attest.yaml.j2
  tags:
    - install

- name: Wait for pod completion
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: tdx
    name: tdx-attestation
  register: tdx_attestation_pod_status
  until: tdx_attestation_pod_status.resources[0].status.phase in ['Succeeded', 'Failed']
  retries: 6
  delay: 5
  tags:
    - install

- name: Get attestation logs
  kubernetes.core.k8s_log:
    namespace: tdx
    name: tdx-attestation
  register: tdx_attestation_logs
  tags:
    - install

- name: Switch tdx attestation status variable state
  ansible.builtin.fail:
    msg: TDX Attestation has failed.
  tags:
    - install
  when: '"ATTESTATION COMPLETED SUCCESSFULLY" not in tdx_attestation_logs.log'

