# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
apiVersion: v2
name: telemetry
type: application
version: 1.0.4
appVersion: "2.1.0"
annotations:
  app.kubernetes.io/part-of: ERAG

dependencies:
  # built-in sub charts
  - name: logs
    version: "*"
    condition: logs.enabled
  - name: traces
    version: "*"
    condition: traces.enabled
  - name: traces-instr
    version: "*"
    condition: traces-instr.enabled
  # external/3rd party subcharts
  - name: kube-prometheus-stack
    condition: kube-prometheus-stack.enabled
    repository: https://prometheus-community.github.io/helm-charts
    version: 77.12.0
  - name: prometheus-redis-exporter
    condition: prometheus-redis-exporter.enabled
    repository: https://prometheus-community.github.io/helm-charts
    version: 6.17.0
