# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Find pods with custom vLLM container name
  kubernetes.core.k8s_info:
    kind: Pod
    namespace: "{{ item }}"
  loop: "{{ query('kubernetes.core.k8s', kind='Namespace', kubeconfig=kubeconfig) | map(attribute='metadata.name') | list }}"
  register: all_pods
  tags:
    - install

- name: Filter pods containing custom vLLM container
  ansible.builtin.set_fact:
    vllm_custom_pods_json: |
      {% set filtered_pods = [] %}
      {% for result in all_pods.results | selectattr('resources', 'defined') %}
        {% for pod in result.resources | selectattr('spec', 'defined') | selectattr('spec.containers', 'defined') %}
          {% for container in pod.spec.containers %}
            {% if balloons.vllm_custom_name in container.name %}
              {% set _ = filtered_pods.append({
                'name': pod.metadata.name,
                'namespace': pod.metadata.namespace,
                'node_name': pod.spec.nodeName | default('unscheduled'),
                'cpu_limits': container.resources.limits.cpu | default('0')
              }) %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endfor %}
      {{ filtered_pods | unique | to_json }}
  when: all_pods.results is defined
  tags:
    - install

- name: Parse vllm_custom_pods JSON
  ansible.builtin.set_fact:
    vllm_custom_pods: "{{ vllm_custom_pods_json | from_json }}"
  when: vllm_custom_pods_json is defined
  tags:
    - install
