{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}
{% set apply_minimal_xpu = (minimal_configuration | default(false) | bool) and ('xpu' in (effective_sample_path | default(item.samplePath | default('')))) %}
{% if (((balloons is defined and balloons.enabled and (optimal_replicas.total_replicas | default(none) is not none)) or (maxReplicasGaudi_VLLM is defined and maxReplicasGaudi_VLLM and (optimal_replicas.gaudi_nodes_count | default(none) is not none))) and not (upload_pipelines | default(false) | bool)) or apply_minimal_xpu %}
services:
{% if balloons is defined and balloons.enabled and (optimal_replicas.total_replicas | default(none) is not none) %}
{% set total_embedding_reranking = (optimal_replicas.total_replicas | int(0)) + ((optimal_replicas.gaudi_nodes_count | int(0)) * (maxReplicasGaudi_VLLM | default(0) | int)) %}
{% set vllm_absent = (VLLM_CPUS | default(0) | int) == 0 %}
  vllm:
    hpa:
      minReplicas: {{ optimal_replicas.total_replicas }}
      maxReplicas: {{ optimal_replicas.total_replicas }}
  torchserve_reranking:
{% if vllm_absent %}
    replicas: {{ total_embedding_reranking }}
{% endif %}
    hpa:
      minReplicas: {{ total_embedding_reranking }}
      maxReplicas: {{ total_embedding_reranking }}
  torchserve_embedding:
{% if vllm_absent %}
    replicas: {{ total_embedding_reranking }}
{% endif %}
    hpa:
      minReplicas: {{ total_embedding_reranking }}
      maxReplicas: {{ total_embedding_reranking }}
  vllm_embedding:
{% if vllm_absent %}
    replicas: {{ total_embedding_reranking }}
{% endif %}
    hpa:
      minReplicas: {{ total_embedding_reranking }}
      maxReplicas: {{ total_embedding_reranking }}
{% endif %}
{% if maxReplicasGaudi_VLLM is defined and maxReplicasGaudi_VLLM and (optimal_replicas.gaudi_nodes_count | default(none) is not none) %}
  vllm_gaudi:
    replicas: {{ optimal_replicas.gaudi_nodes_count * (maxReplicasGaudi_VLLM | default(0) | int) }}
    hpa:
      minReplicas: {{ (optimal_replicas.gaudi_nodes_count | int(0)) * (maxReplicasGaudi_VLLM | default(0) | int) }}
      maxReplicas: {{ (optimal_replicas.gaudi_nodes_count | int(0)) * (maxReplicasGaudi_VLLM | default(0) | int) }}
{% endif %}
{% if apply_minimal_xpu %}
  vllm:
    replicas: 1
    resources:
      requests:
        cpu: "100m"
        memory: "12Gi"
      limits:
        cpu: "4"
        memory: "24Gi"
    hpa:
      minReplicas: 1
      maxReplicas: 1
  vllm_xpu:
    replicas: 1
    resources:
      requests:
        cpu: "100m"
        memory: "12Gi"
      limits:
        cpu: "4"
        memory: "24Gi"
    hpa:
      minReplicas: 1
      maxReplicas: 1
{% endif %}
{% endif %}
