{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

namespace: {{ item.namespace }}

proxy:
  httpProxy: {{ httpProxy }}
  httpsProxy: {{ httpsProxy }}
  noProxy: {{ noProxy }}
{% if (huggingToken is defined) and (huggingToken != "") %}
tokens:
  hugToken: {{ huggingToken }}
{% endif %}
common_tag: &tag {{ tag }}
common_registry: &repo {{ registry }}

{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}

llm_model: &cpu_model {{ llm_model }}
llm_model_gaudi: &hpu_model {{ llm_model_gaudi }}
embedding_model_name: &embedding_model_name {{ embedding_model_name }}
reranking_model_name: &reranking_model_name {{ reranking_model_name }}

chat_history:
  enabled: {{ chat_history.enabled }}

{% if hpaEnabled is defined %}
hpaEnabled: {{ hpaEnabled }}
{% endif %}

{% if tdx is defined and tdx.coco is defined and tdx.coco.enabled %}
tdx:
  common:
    kbsAddress: {{ KBS_ADDRESS }}
{% endif %}

{% if balloons is defined and balloons.enabled %}
balloons:
  enabled: {{ balloons.enabled }}
  namespace: {{ balloons.namespace }}
  wait_timeout: {{ balloons.wait_timeout }}
{% if balloons_chart_name is defined %}
  chart_name: {{ balloons_chart_name }}
{% endif %}
{% endif %}

{% if optimal_replicas is defined and (optimal_replicas | length) > 0 %}
vllmNodes:
{% for node_name, node_info in optimal_replicas.items() %}
{% if node_info is mapping and node_info.replicas is defined and node_info.adjusted_vllm_size is defined and (node_info.amx_supported == true or node_info.gaudi == true) %}
  - name: {{ node_name }}
    nodeSelector:
      kubernetes.io/hostname: {{ node_name }}
    VLLM_CPU: "{{ node_info.adjusted_vllm_size }}"
    VLLM_INSTANCES: {{ node_info.replicas }}
{% endif %}
{% endfor %}
{% endif %}

{% if gmc.pvc is defined and gmc.pvc.models is defined %}
pvc:
{% for key, val in gmc.pvc.models.items() %}
  {{ key }}:
    name: {{ val.name }}
    storage: {{ val.storage }}
    accessMode: {{ val.accessMode if val.accessMode is defined else gmc.pvc.accessMode }}
{% endfor %}
{% endif %}

images:
  gmcManager:
    image: "erag-gmcmanager"
    repository: *repo
    tag: *tag
  gmcRouter:
    image: "erag-gmcrouter"
    repository: *repo
    tag: *tag
  text-extractor-usvc:
    image: "erag-text-extractor"
    repository: *repo
    tag: *tag
{% if audio.enabled is defined and audio.enabled %}
    envs:
      ASR_MODEL_SERVER_ENDPOINT: "http://asr-svc.{{ audio.namespace }}.svc:9009"
{% endif %}
  text-compression-usvc:
    image: "erag-text-compression"
    repository: *repo
    tag: *tag
  text-splitter-usvc:
    image: "erag-text-splitter"
    repository: *repo
    tag: *tag
  embedding-usvc:
    image: "erag-embedding"
    repository: *repo
    tag: *tag
    envs:
      EMBEDDING_MODEL_NAME: *embedding_model_name
  reranking-usvc:
    image: "erag-reranking"
    repository: *repo
    tag: *tag
    envs:
      RERANKING_MODEL_NAME: *reranking_model_name
{% if edp.late_chunking.enabled is true %}
      RERANKING_LATE_CHUNKING_ENABLED: "True"
{% else %}
      RERANKING_LATE_CHUNKING_ENABLED: "False"
{% endif %}
  teirerank:
    image: "erag-teirerank"
    repository: *repo
    tag: *tag
    envs:
      MODEL_ID: *reranking_model_name
  teirerank_gaudi:
    image: "erag-teirerank_gaudi"
    repository: *repo
    tag: *tag
    envs:
      MODEL_ID: *reranking_model_name
  prompt-template-usvc:
    image: "erag-prompt_template"
    repository: *repo
    tag: *tag
    envs:
      PROMPT_TEMPLATE_LANGUAGE: "{{ 'pl' if 'PLLuM' in llm_model else 'en' }}"
  torchserve_embedding:
    image: "erag-torchserve_embedding"
    repository: *repo
    tag: *tag
    envs:
      TORCHSERVE_MODEL_NAME: *embedding_model_name
  vllm_embedding:
    envs:
      EMBEDDING_VLLM_MODEL_NAME: *embedding_model_name
  tei:
    envs:
      MODEL_ID: *embedding_model_name
  torchserve_reranking:
    image: "erag-torchserve_reranking"
    repository: *repo
    tag: *tag
    envs:
      TORCHSERVE_MODEL_NAME: *reranking_model_name
  retriever-usvc:
    image: "erag-retriever"
    repository: *repo
    tag: *tag
{% if vector_databases.enabled %}
    vector_store: {{ vector_databases.vector_store }}
{% endif %}
    envs:
      EMBEDDING_MODEL_NAME: *embedding_model_name
{% if edp.hierarchical_indices.enabled is true %}
      USE_HIERARCHICAL_INDICES: "True"
      K_SUMMARIES: {{ edp.hierarchical_indices.kSummaries }}
      K_CHUNKS: {{ edp.hierarchical_indices.kChunks }}
{% endif %}
{% if edp.rbac is defined and edp.rbac.enabled is true %}
      VECTOR_DB_RBAC: "true"
{% endif %}
{% if vector_databases.enabled %}
      VECTOR_STORE: {{ vector_databases.vector_store }}
      VECTOR_DATATYPE: {{ vector_databases.vector_datatype }}
      VECTOR_DIMS: {{ vector_databases.vector_dims }}
{% endif %}
  llm-usvc:
    image: "erag-llm"
    repository: *repo
    tag: *tag
  in-guard-usvc:
    image: "erag-in-guard"
    repository: *repo
    tag: *tag
  out-guard-usvc:
    image: "erag-out-guard"
    repository: *repo
    tag: *tag
  ui-usvc:
    image: "erag-chatqna-conversation-ui"
    repository: *repo
    tag: *tag
  vllm_gaudi:
    image: "erag-vllm-gaudi"
    repository: *repo
    tag: *tag
    envs:
      LLM_VLLM_MODEL_NAME: *hpu_model
  vllm:
    image: "erag-vllm-cpu"
    repository: *repo
    tag: *tag
    envs:
      LLM_VLLM_MODEL_NAME: *cpu_model
  langdtct-usvc:
    image: "erag-language-detection"
    repository: *repo
    tag: *tag
  fingerprint-usvc:
    image: "erag-system-fingerprint"
    repository: *repo
    tag: *tag
    envs:
      SYSTEM_FINGERPRINT_TEMPLATE_LANGUAGE: "{{ 'pl' if 'PLLuM' in llm_model else 'en' }}"
  chat-history-usvc:
    image: "erag-chat-history"
    repository: *repo
    tag: *tag
  docsum-usvc:
    image: "erag-docsum"
    repository: *repo
    tag: *tag
  init-container:
    image: "erag-init-container"
    repository: *repo
    tag: *tag
    pullPolicy: Always
  late-chunking-usvc:
    image: "erag-late-chunking"
    repository: *repo
    tag: *tag
    envs:
      EMBEDDING_MODEL_NAME: *embedding_model_name
