---
# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

apiVersion: v1
kind: Secret
metadata:
  name: vllm-api-key-secret
  namespace: {{ item.namespace }}
  labels:
    app.kubernetes.io/name: llm-usvc
    app.kubernetes.io/instance: llm-usvc
    app.kubernetes.io/managed-by: ansible
    app.kubernetes.io/component: secret
type: Opaque
data:
  LLM_VLLM_API_KEY: {{ llm_vllm_api_key | b64encode }}
