{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

proxy:
  httpProxy: {{ httpProxy }}
  httpsProxy: {{ httpsProxy }}
  noProxy: {{ noProxy }}

{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}

edpAccessKey: "{{ edp_minio_access_key }}"
edpSecretKey: "{{ edp_minio_secret_key }}"
edpOidcConfigUrl: "http://keycloak.auth.svc/realms/EnterpriseRAG/.well-known/openid-configuration"
edpOidcClientSecret: {{ edp_client_secret_id }}
minioApiDomain: &minioApiDomain "{{ edp.apiDomainName }}"
minioBrowserDomain: &minioBrowserDomain "{{ edp.domainName }}"

edpInternalSecure: false

redisUsername: {{ edp.redis.auth.user.db_username }}
redisPassword: "{{ edp_redis_password }}"

postgresDatabasePassword: {{ edp_postgresql_user_password }}
postgresAdminPassword: {{ edp_postgresql_admin_password }}

celery:
  tag: {{ tag }}
  repository: {{ registry }}
flower:
  tag: {{ tag }}
  repository: {{ registry }}
backend:
  tag: {{ tag }}
  repository: {{ registry }}
dataprep:
  tag: {{ tag }}
  repository: {{ registry }}
ingestion:
  tag: {{ tag }}
  repository: {{ registry }}
embedding:
  enabled: false
  remoteEmbeddingUri: "http://embedding-svc.chatqa.svc:6000/v1/embeddings"
  repository: {{ registry }}
dpguard:
  enabled: {{ edp.dpGuard.enabled }}
  tag: {{ tag }}
  repository: {{ registry }}
awsSqs:
  repository: {{ registry }}
