{#
Copyright (C) 2024-2026 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}
# Enterprise RAG user limits

# Soft limits
*               soft    nofile          {{ limits_nofile_soft }}
*               soft    nproc           {{ limits_nproc_soft }}

# Hard limits
*               hard    nofile          {{ limits_nofile_hard }}
*               hard    nproc           {{ limits_nproc_hard }}

# Root user limits
root            soft    nofile          {{ limits_nofile_soft }}
root            hard    nofile          {{ limits_nofile_hard }}
root            soft    nproc           {{ limits_nproc_soft }}
root            hard    nproc           {{ limits_nproc_hard }}
