{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}
# Enterprise RAG sysctl optimizations

# File system limits
fs.inotify.max_user_instances = {{ sysctl_inotify_max_instances }}
fs.inotify.max_user_watches = {{ sysctl_inotify_max_watches }}
fs.file-max = {{ sysctl_file_max }}
