# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0
# NOTE: ERAG_VERSION uses Chart.AppVersion which matches solution version from version.yaml
# Future: Consider reading from deployment manifest (requires namespace resolution)
apiVersion: v1
kind: ConfigMap
metadata:
  name: ui-env-config
data:
  config.json: |
    {
      "KEYCLOAK_URL": "https://{{ .Values.extraUiConfigVars.keycloakDomainName }}",
      "KEYCLOAK_REALM": "{{ .Values.extraUiConfigVars.keycloakRealm }}",
      "KEYCLOAK_CLIENT_ID": "{{ .Values.extraUiConfigVars.keycloakClientId }}",
      "ADMIN_RESOURCE_ROLE": "{{ .Values.extraUiConfigVars.adminResourceRole }}",
      "GRAFANA_DASHBOARD_URL": "https://{{ .Values.extraUiConfigVars.grafanaDomainName }}",
      "KEYCLOAK_ADMIN_PANEL_URL": "https://{{ .Values.extraUiConfigVars.keycloakAdminPanelDomainName }}",
      {{- if or (eq .Values.type "chatqa") (eq .Values.type "audioqna") }}
      "S3_URL": "https://{{ .Values.extraUiConfigVars.s3DomainName }}",
      "CHAT_DISCLAIMER_TEXT": "{{ .Values.extraUiConfigVars.chatDisclaimerText }}",
      {{- end }}
      "ERAG_VERSION": {{ .Chart.AppVersion | quote }},
      "MAINTENANCE_MODE": {{ (.Values.extraUiConfigVars.chatMaintenanceMode | lower) | quote }}
    }
