#https://github.com/bitnami/charts/blob/main/bitnami/keycloak/values.yaml

# allowInsecureImages due to repository override to: [bitnamilegacy]
global:
  security:
    allowInsecureImages: true

image:
  repository: bitnamilegacy/keycloak
defaultInitContainers:
  image:
    repository: bitnamilegacy/keycloak
ingress:
  enabled: true
  ingressClassName: "nginx"
  pathType: Prefix
  hostname: auth.erag.com
  hostnameStrict: true
  path: /
  tls: true
  extraTls:
    - hosts:
        - auth.erag.com
      secretName: tls-secret
  annotations:
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
networkPolicy:
  extraIngress:
    - ports:
      - port: 15008
tls:
  enabled: true
  existingSecret: tls-secret
  usePem: true

volumePermissions:
  enabled: true

resourcesPreset: "xlarge"

extraEnvVars:
  - name: KC_HOSTNAME_BACKCHANNEL_DYNAMIC
    value: "true"
postgresql:
  image:
    repository: bitnamilegacy/postgresql
  primary:
    resources:
      requests:
        cpu: "1"
        ephemeral-storage: "50Mi"
        memory: "1Gi"
      limits:
        cpu: "2"
        ephemeral-storage: "1Gi"
        memory: "2Gi"
    networkPolicy:
      extraIngress:
        - ports:
            - port: 15008
