# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

# Codecentric Keycloakx chart values
# https://github.com/codecentric/helm-charts/tree/master/charts/keycloakx

keycloakx:
  fullnameOverride: "keycloak"

  command:
    - "/bin/bash"
    - "-c"
  args:
    - |
      /opt/keycloak/bin/kc.sh build --health-enabled=true && \
      /opt/keycloak/bin/kc.sh start --optimized

  replicas: 1

  extraVolumes: |
    - name: certs
      secret:
        secretName: keycloak-certs

  extraVolumeMounts: |
    - name: certs
      mountPath: /opt/keycloak/conf/truststores
      readOnly: true

  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1000m"
      memory: "2Gi"

  http:
    relativePath: "/"

  database:
    vendor: postgres
    hostname: keycloak-postgresql
    port: 5432

  podSecurityContext:
    fsGroup: 1000
    runAsUser: 1000
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1000
    capabilities:
      drop:
        - ALL
    seccompProfile:
      type: RuntimeDefault

  serviceAccount:
    create: true
    annotations: {}

# PostgreSQL is deployed as part of this chart
postgresql:
  enabled: true
  fullnameOverride: "keycloak-postgresql"
  image:
    repository: postgres
    tag: "16-alpine"
    pullPolicy: IfNotPresent
  auth:
    username: keycloak
    database: keycloak
    existingSecret: "keycloak-postgresql-secret"
    secretKey: "password"
  persistence:
    enabled: true
    size: "10Gi"
  resources:
    requests:
      cpu: "500m"
      memory: "512Mi"
    limits:
      cpu: "1000m"
      memory: "1Gi"
