apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: replacement-config
    options:
      disableNameSuffixHash: true
    literals:
      - imagePullPolicy=Always
      - runtimeClassName=kata-qemu-tdx
      - runtimeHandlerAnnotation=kata-qemu-tdx
      - kernelParams="agent.guest_components_rest_api=all agent.aa_kbc_params=cc_kbc::KBS_ADDRESS"
# Due to issue with kustomize it is impossible to set string value instead of value type.
# This can be fixed in future kustomize release or you can use jq as a workaround.
#      - containerTimeout="1800"
#      - istioLabel1="none"
#      - istioLabel2="true"
#      - fsGroup="1001"

resources:
  - "all.yaml"

replacements:
  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.imagePullPolicy
    targets:
      - select:
          kind: Pod
        options:
          create: true
        fieldPaths:
          - spec.containers.*.imagePullPolicy
          # workaround for initContainers covered by jq
          #- spec.initContainers.*.imagePullPolicy
      - select:
          kind: DaemonSet
        options:
          create: true
        fieldPaths:
          - spec.template.spec.containers.*.imagePullPolicy
          #- spec.template.spec.initContainers.*.imagePullPolicy
      - select:
          kind: Deployment
        options:
          create: true
        fieldPaths:
          - spec.template.spec.containers.*.imagePullPolicy
          #- spec.template.spec.initContainers.*.imagePullPolicy
      - select:
          kind: StatefulSet
        options:
          create: true
        fieldPaths:
          - spec.template.spec.containers.*.imagePullPolicy
          #- spec.template.spec.initContainers.*.imagePullPolicy

  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.imagePullPolicy
    targets:
# workaround for initContainers covered by jq
#    - select:
#        kind: Pod
#        #  - spec.initContainers
#      options:
#        create: false
#      fieldPaths:
#        - spec.initContainers.*.imagePullPolicy
#    - select:
#        kind: DaemonSet
#        #  - spec.template.spec.initContainers
#      options:
#        create: false
#      fieldPaths:
#        - spec.template.spec.initContainers.*.imagePullPolicy
    - select:
        kind: Deployment
        #  - spec.template.spec.initContainers
      options:
        create: true
      fieldPaths:
        - spec.template.spec.initContainers.*.imagePullPolicy
# workaround for initContainers covered by jq
#    - select:
#        kind: StatefulSet
#      reject:
#        spec.template.spec.initContainers: ''
#      options:
#        create: true
#      fieldPaths:
#        - spec.template.spec.initContainers.*.imagePullPolicy


  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.runtimeClassName
    targets:
      - select:
          kind: Pod
        options:
          create: true
        fieldPaths:
          - spec.runtimeClassName
      - select:
          kind: Deployment
        options:
          create: true
        fieldPaths:
          - spec.template.spec.runtimeClassName
      - select:
          kind: DaemonSet
        options:
          create: true
        fieldPaths:
          - spec.template.spec.runtimeClassName
      - select:
          kind: StatefulSet
        options:
          create: true
        fieldPaths:
          - spec.template.spec.runtimeClassName

  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.runtimeHandlerAnnotation
    targets:
      - select:
          kind: Pod
        options:
          create: true
        fieldPaths:
          - metadata.annotations.io\.containerd\.cri\.runtime-handler
      - select:
          kind: Deployment
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.containerd\.cri\.runtime-handler
      - select:
          kind: DaemonSet
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.containerd\.cri\.runtime-handler
      - select:
          kind: StatefulSet
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.containerd\.cri\.runtime-handler

  - source:
      kind: ConfigMap
      name: replacement-config
      fieldPath: data.kernelParams
    targets:
      - select:
          kind: Pod
        options:
          create: true
        fieldPaths:
          - metadata.annotations.io\.katacontainers\.config\.hypervisor\.kernel_params
      - select:
          kind: Deployment
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.katacontainers\.config\.hypervisor\.kernel_params
      - select:
          kind: DaemonSet
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.katacontainers\.config\.hypervisor\.kernel_params
      - select:
          kind: StatefulSet
        options:
          create: true
        fieldPaths:
          - spec.template.metadata.annotations.io\.katacontainers\.config\.hypervisor\.kernel_params

# Due to issue with kustomize it is impossible to set string value instead of value type.
# This can be fixed in future kustomize release and below should be uncommented then.
#  - source:
#      kind: ConfigMap
#      name: replacement-config
#      fieldPath: data.istioLabel1
#    targets:
#      - select:
#          kind: Pod
#        options:
#          create: true
#        fieldPaths:
#          - metadata.labels.istio\.io/dataplane-mode
#      - select:
#          kind: Deployment
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.istio\.io/dataplane-mode
#      - select:
#          kind: DaemonSet
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.istio\.io/dataplane-mode
#      - select:
#          kind: StatefulSet
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.istio\.io/dataplane-mode
#
#  - source:
#      kind: ConfigMap
#      name: replacement-config
#      fieldPath: data.istioLabel2
#    targets:
#      - select:
#          kind: Pod
#        options:
#          create: true
#        fieldPaths:
#          - metadata.labels.sidecar\.istio\.io/inject
#      - select:
#          kind: Deployment
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.sidecar\.istio\.io/inject
#      - select:
#          kind: DaemonSet
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.sidecar\.istio\.io/inject
#      - select:
#          kind: StatefulSet
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.metadata.labels.sidecar\.istio\.io/inject

#  - source:
#      kind: ConfigMap
#      name: replacement-config
#      fieldPath: data.fsGroup
#    targets:
#      - select:
#          kind: Deployment
#        options:
#          create: true
#        fieldPaths:
#          - spec.template.spec.securityContext.fsGroup
