# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
# not working on CI/CD
# - name: Change ownership of artifacts directory
#   become: true
#   ansible.builtin.file:
#     path: "{{ inventory_dir }}/artifacts"
#     state: directory
#     owner: "{{ ansible_user_id | default(lookup('env', 'USER')) }}"
#     group: "{{ ansible_user_id | default(lookup('env', 'USER')) }}"
#     recurse: true
#   when: deploy_k8s
#   tags:
#     - install
#     - post-install

- name: Gaudi operator role
  ansible.builtin.include_role:
    name: gaudi_operator
  when: gaudi_operator
  tags:
    - install
    - post-install
    - delete

- name: Local registry role
  ansible.builtin.include_role:
    name: k8s_local_registry
  when: local_registry
  tags:
    - install
    - post-install
    - delete

- name: NFS Server CSI role
  ansible.builtin.include_role:
    name: nfs_server_csi_setup
  when: install_csi == "nfs"
  tags:
    - install
    - post-install
    - post-delete

- name: NetApp Trident CSI role
  ansible.builtin.include_role:
    name: netapp_trident_csi_setup
  when: install_csi == "netapp-trident"
  tags:
    - install
    - post-install
    - delete

- name: Velero role
  ansible.builtin.include_role:
    name: velero
  vars:
    deployment_dir: "{{ playbook_dir }}/.."
    log_dir: "{{ deployment_dir }}/ansible-logs"
    tmp_dir: "{{ deployment_dir }}/velero-tmp"
  when: velero.enabled
  tags:
    - install
    - post-install
    - delete
    - post-delete
    - velero-delete

- name: Configure system limits
  ansible.builtin.include_role:
    name: common/system_limits
  tags:
    - install
    - post-install
    - system-limits

- name: Uninstall NFS Server
  ansible.builtin.include_role:
    name: nfs_server_csi_setup
  when: install_csi == "nfs"
  tags:
    - delete

- name: Uninstall NetApp Trident
  ansible.builtin.include_role:
    name: netapp_trident_csi_setup
  when: install_csi == "netapp-trident"
  tags:
    - delete
