# Copyright (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

proxy:
  httpProxy: {{ httpProxy | quote }}
  httpsProxy: {{ httpsProxy | quote }}
  noProxy: {{ noProxy | quote }}

alternateTagging: {{ use_alternate_tagging }}

hfToken: {{ huggingToken | quote }}

asr:
  image:
    repository: {{ registry }}
    tag: {{ tag }}
    config:
        modelName: {{ audio.asr_model | quote }}

vllmAudioCpu:
  image:
    repository: {{ registry }}
    tag: {{ tag }}
  config:
    modelName: {{ audio.asr_model | quote }}

tts:
  image:
    repository: {{ registry }}
    tag: {{ tag }}
  config:
    modelName: {{ audio.tts_model | quote }}

ttsFastapiModelServer:
  image:
    repository: {{ registry }}
    tag: {{ tag }}
  config:
    modelName: {{ audio.tts_model | quote }}

