# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
# tdx
- ansible.builtin.set_fact:
    tdx: "{{ tdx | default({}, true) }}"
  tags:
    - install

# tdx.enabled
- ansible.builtin.set_fact:
    tdx: "{{ tdx | combine({'enabled': tdx.enabled | default(false, true)}) }}"
  tags:
    - install

# tdx.attestation
- ansible.builtin.set_fact:
    tdx: "{{ tdx | combine({'attestation': tdx.attestation | default({}, true)}) }}"
  tags:
    - install

# tdx.attestation.enabled
- ansible.builtin.set_fact:
    tdx: >-
      {{
        tdx | combine({
          'attestation': {
            'enabled': tdx.attestation.enabled | default(false, true)
          }
        })
      }}
  tags:
    - install

# Helper variables:
#   tdx.one_td.enabled
#   tdx.coco.enabled
- ansible.builtin.set_fact:
    tdx: >-
      {{
        tdx | combine({
          'one_td': {
            'enabled': (tdx.td_type | default('', true)) == 'one-td'
          }
        }) | combine ({
          'coco': {
            'enabled': (tdx.td_type | default('', true)) == 'coco'
          }
        })
      }}
  tags:
    - install
