# Copyright (C) 2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

{{- if .Values.ttsFastapiModelServer.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "audio.ttsFastapiModelServer.fullname" . }}
  labels:
    {{- include "audio.ttsFastapiModelServer.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.ttsFastapiModelServer.replicaCount }}
  selector:
    matchLabels:
      {{- include "audio.ttsFastapiModelServer.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "audio.ttsFastapiModelServer.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      serviceAccountName: {{ include "audio.ttsFastapiModelServer.name" . }}
      containers:
        - name: {{ include "audio.ttsFastapiModelServer.fullname" . }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
          {{ if .Values.alternateTagging }}
          image: {{ .Values.ttsFastapiModelServer.image.repository }}:{{ .Values.ttsFastapiModelServer.image.name }}_{{ .Values.ttsFastapiModelServer.image.tag }}
          {{ else }}
          image: {{ .Values.ttsFastapiModelServer.image.repository }}/{{ .Values.ttsFastapiModelServer.image.name }}:{{ .Values.ttsFastapiModelServer.image.tag }}
          {{ end }}
          imagePullPolicy: {{ .Values.ttsFastapiModelServer.image.pullPolicy }}
          env:
          {{- if .Values.hfToken }}
            - name: HF_TOKEN
              valueFrom:
                secretKeyRef:
                  name: audio-hf-token-secret
                  key: HF_TOKEN
          {{- end }}
            - name: KMP_SETTINGS
              value: "1"
            - name: KMP_AFFINITY
              value: "granularity=fine,compact,1,0"
            - name: KMP_BLOCKTIME
              value: "1"
          {{- if .Values.proxy.httpProxy }}
            - name: http_proxy
              value: {{ .Values.proxy.httpProxy }}
          {{- end }}
          {{- if .Values.proxy.httpsProxy }}
            - name: https_proxy
              value: {{ .Values.proxy.httpsProxy }}
          {{- end }}
          {{- if .Values.proxy.noProxy }}
            - name: no_proxy
              value: {{ .Values.proxy.noProxy }}
          {{- end }}
          envFrom:
            - configMapRef:
                name: audio-tts-fastapi-configmap
          ports:
            - name: http
              containerPort: 8008
              protocol: TCP
          livenessProbe:
            failureThreshold: 24
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 30
          startupProbe:
            failureThreshold: 180
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 10
          resources:
            {{- toYaml .Values.ttsFastapiModelServer.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
