# INSTALL TASKS
- name: Label the user-defined node for NFS scheduling
  kubernetes.core.k8s:
    api_version: v1
    kind: Node
    name: "{{ nfs_node_name }}"
    definition:
      metadata:
        labels:
          nfs-node: "true"
    state: patched
  tags:
    - install
    - post-install

- name: Create NFS namespace
  kubernetes.core.k8s:
    api_version: v1
    kind: Namespace
    name: "{{ nfs_namespace }}"
    state: present
  tags:
    - install
    - post-install

- name: Create NFS export directory on the labeled node using a Kubernetes Job
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'nfs-init-job.yaml.j2') }}"
  tags:
    - install
    - post-install

- name: Deploy NFS server deployment and service
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'nfs-server.yaml.j2') }}"
  tags:
    - install
    - post-install

- name: Add CSI driver Helm repo
  kubernetes.core.helm_repository:
    name: csi-driver-nfs
    repo_url: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
  tags:
    - install
    - post-install

- name: Install CSI NFS driver via Helm
  kubernetes.core.helm:
    name: csi-driver-nfs
    chart_ref: csi-driver-nfs/csi-driver-nfs
    release_namespace: kube-system
    create_namespace: false
    chart_version: "{{ nfs_csi_driver_version }}"
    values:
      externalSnapshotter:
        enabled: true
      controller:
        useTarCommandInSnapshot: true
      storageClass:
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
        create: true
        name: "{{ nfs_csi_storage_class }}"
        parameters:
          server: "{{ nfs_server_ip }}"
          share: "/data"
        volumeBindingMode: "WaitForFirstConsumer"
        mountOptions:
          - "nfsvers=4"
  tags:
    - install
    - post-install

- name: Get all StorageClasses
  kubernetes.core.k8s_info:
    api_version: storage.k8s.io/v1
    kind: StorageClass
  register: sc_list
  tags:
    - install
    - post-install

- name: Find current default StorageClass
  ansible.builtin.set_fact:
    previous_default_sc: >-
      {%- for item in sc_list.resources -%}
        {%- if item.metadata.annotations is defined and item.metadata.annotations.get('storageclass.kubernetes.io/is-default-class', 'false') == 'true' and item.metadata.name != nfs_csi_storage_class -%}
          {{ item.metadata.name }}
        {%- endif -%}
      {%- endfor -%}
  when:
    - install_csi == "nfs"
    - restore_default_sc_on_cleanup | bool
  tags:
    - install
    - post-install

- name: Remove default annotation from non-nfs-csi StorageClasses
  kubernetes.core.k8s_json_patch:
    api_version: storage.k8s.io/v1
    kind: StorageClass
    name: "{{ item.metadata.name }}"
    patch:
      - op: remove
        path: /metadata/annotations/storageclass.kubernetes.io~1is-default-class
  loop: "{{ sc_list.resources }}"
  when:
    - install_csi == "nfs"
    - item.metadata.name != nfs_csi_storage_class
    - item.metadata.annotations is defined
    - item.metadata.annotations['storageclass.kubernetes.io/is-default-class'] is defined
  tags:
    - install
    - post-install

- name: Set default annotation and track previous default on nfs-csi StorageClass
  kubernetes.core.k8s:
    state: patched
    api_version: storage.k8s.io/v1
    kind: StorageClass
    name: "{{ nfs_csi_storage_class }}"
    definition:
      metadata:
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
          meta.erag/previous-default-sc: "{{ previous_default_sc if previous_default_sc != '' else 'none' }}"
  when:
    - install_csi == "nfs"
    - restore_default_sc_on_cleanup | bool
  tags:
    - install
    - post-install

# DELETE TASKS
- name: Get nfs-csi StorageClass before deletion
  kubernetes.core.k8s_info:
    api_version: storage.k8s.io/v1
    kind: StorageClass
    name: "{{ nfs_csi_storage_class }}"
  register: nfs_sc_info
  when:
    - install_csi == "nfs"
    - restore_default_sc_on_cleanup | bool
  tags:
    - delete
    - post-delete

- name: Check if nfs-csi is current default
  ansible.builtin.set_fact:
    nfs_is_default: >-
      {%- if nfs_sc_info.resources | length > 0 -%}
        {{ nfs_sc_info.resources[0].metadata.annotations.get('storageclass.kubernetes.io/is-default-class', 'false') == 'true' }}
      {%- else -%}
        false
      {%- endif -%}
    previous_default_from_nfs: >-
      {%- if nfs_sc_info.resources | length > 0 and nfs_sc_info.resources[0].metadata.annotations is defined -%}
        {{ nfs_sc_info.resources[0].metadata.annotations.get('meta.erag/previous-default-sc', '') }}
      {%- else -%}

      {%- endif -%}
  when:
    - install_csi == "nfs"
    - restore_default_sc_on_cleanup | bool
  tags:
    - delete
    - post-delete

- name: Restore previous default StorageClass if nfs-csi was default
  kubernetes.core.k8s:
    state: patched
    api_version: storage.k8s.io/v1
    kind: StorageClass
    name: "{{ previous_default_from_nfs }}"
    definition:
      metadata:
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
  when:
    - install_csi == "nfs"
    - restore_default_sc_on_cleanup | bool
    - nfs_is_default | bool
    - previous_default_from_nfs != ""
    - previous_default_from_nfs != "none"
  tags:
    - delete
    - post-delete

- name: Uninstall CSI NFS driver
  kubernetes.core.helm:
    name: csi-driver-nfs
    release_namespace: kube-system
    state: absent
  when: install_csi == "nfs"
  tags:
    - delete
    - post-delete

- name: Check if the NFS namespace exists
  kubernetes.core.k8s_info:
    api_version: v1
    kind: Namespace
    name: "{{ nfs_namespace }}"
  register: nfs_namespace_info
  tags:
    - delete
    - post-delete

- name: Remove NFS export directory on the labeled node using a Kubernetes Job
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'nfs-cleanup-job.yaml.j2') }}"
  when: nfs_namespace_info.resources | length > 0
  tags:
    - delete
    - post-delete

- name: Delete NFS server deployment and service
  kubernetes.core.k8s:
    state: absent
    definition: "{{ lookup('template', 'nfs-server.yaml.j2') }}"
  tags:
    - delete
    - post-delete

- name: Remove the NFS node label
  kubernetes.core.k8s:
    api_version: v1
    kind: Node
    name: "{{ nfs_node_name }}"
    definition:
      metadata:
        labels:
          nfs-node: null
    state: patched
  tags:
    - delete
    - post-delete
