{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

# PostgreSQL configuration (use existing secret)
postgresql:
  existingSecret: "{{ keycloak.postgresql.password_secret_name }}"
  passwordKey: "password"
  adminPasswordKey: "postgres-password"

keycloakx:
  # Ingress configuration (environment-specific domain)
  ingress:
    enabled: true
    ingressClassName: "nginx"
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
      nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
    rules:
      - host: {{ keycloak.domainName }}
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - {{ keycloak.domainName }}
        secretName: {{ keycloak.tls.secret_name }}

{% if keycloak.hostAliases is defined and keycloak.hostAliases | length > 0 %}
  hostAliases:
{% for alias in keycloak.hostAliases %}
  - {{ alias | to_nice_yaml | indent(4) }}
{%- endfor %}
{% endif %}

  database:
    database: {{ keycloak.postgresql.database }}
    username: {{ keycloak.postgresql.username }}
    existingSecret: {{ keycloak.postgresql.password_secret_name }}
    existingSecretKey: password

  extraEnv: |
    - name: KC_BOOTSTRAP_ADMIN_USERNAME
      valueFrom:
        secretKeyRef:
          name: {{ keycloak.auth.admin.password_secret_name }}
          key: admin-username
    - name: KC_BOOTSTRAP_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          name: {{ keycloak.auth.admin.password_secret_name }}
          key: admin-password
    - name: KC_CACHE
      value: "local"
    - name: KC_PROXY_HEADERS
      value: "xforwarded"
    - name: KC_HOSTNAME
      value: "https://{{ keycloak.domainName }}"
    - name: KC_HOSTNAME_STRICT
      value: "false"
    - name: KC_HOSTNAME_BACKCHANNEL_DYNAMIC
      value: "true"
    - name: KC_HTTP_ENABLED
      value: "true"
    - name: KC_HEALTH_ENABLED
      value: "true"
    - name: KC_METRICS_ENABLED
      value: "true"
    - name: KC_PROXY
      value: "edge"
    - name: KC_DB
      value: "postgres"
    - name: KC_DB_URL_HOST
      value: "keycloak-postgresql"
    - name: KC_DB_URL_PORT
      value: "5432"
    - name: KC_DB_URL_DATABASE
      value: "{{ keycloak.postgresql.database }}"
    - name: KC_DB_USERNAME
      value: "{{ keycloak.postgresql.username }}"
    - name: KC_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: {{ keycloak.postgresql.password_secret_name }}
          key: password
{% if httpProxy is defined and httpProxy != "" %}
    - name: http_proxy
      value: "{{ httpProxy }}"
{% endif %}
{% if httpsProxy is defined and httpsProxy != "" %}
    - name: https_proxy
      value: "{{ httpsProxy }}"
{% endif %}
{% if noProxy is defined and noProxy != "" %}
    - name: no_proxy
      value: "{{ noProxy }}"
{% endif %}
