# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Check Keycloak data consistency
  tags:
    - pre-upgrade
    - data-consistency
  block:
    - name: Get Keycloak deployment name
      kubernetes.core.k8s_info:
        kind: StatefulSet
        namespace: "{{ keycloak.namespace }}"
        label_selectors:
          - app.kubernetes.io/name=keycloakx
      register: keycloak_deployment

    - name: Get Keycloak pod name
      kubernetes.core.k8s_info:
        kind: Pod
        namespace: "{{ keycloak.namespace }}"
        label_selectors:
          - app.kubernetes.io/name=keycloakx
      register: keycloak_pods

    - name: Set Keycloak pod name
      ansible.builtin.set_fact:
        keycloak_pod: "{{ keycloak_pods.resources[0].metadata.name }}"
        keycloak_deployment_name: "{{ keycloak_deployment.resources[0].metadata.name if keycloak_deployment.resources else 'keycloak' }}"
        keycloak_realm: "EnterpriseRAG"
      when: keycloak_pods.resources | length > 0

    - name: Authenticate and query Keycloak
      no_log: "{{ secure_logs }}"
      block:
        - name: Get Keycloak admin credentials from secret
          kubernetes.core.k8s_info:
            kind: Secret
            name: "keycloak"
            namespace: "{{ keycloak.namespace }}"
          register: keycloak_secret

        - name: Decode Keycloak admin credentials
          ansible.builtin.set_fact:
            keycloak_admin_user: "admin"
            keycloak_admin_password: "{{ keycloak_secret.resources[0].data['admin-password'] | b64decode }}"
          when: keycloak_secret.resources | length > 0

        - name: Get Keycloak service endpoint
          kubernetes.core.k8s_info:
            kind: Service
            name: keycloak-http
            namespace: "{{ keycloak.namespace }}"
          register: keycloak_service

        - name: Set Keycloak forward port
          ansible.builtin.set_fact:
            keycloak_fport: "{{ keycloak.fport | default(1234) }}"
          when: keycloak_service.resources | length > 0

        - name: Set up port forwarding for Keycloak service
          ansible.builtin.command: >
            kubectl port-forward svc/keycloak-http -n {{ keycloak.namespace }} {{ keycloak_fport }}:80
          async: 180
          poll: 0
          register: keycloak_port_forward_job
          environment:
            KUBECONFIG: "{{ kubeconfig }}"
          when: keycloak_service.resources | length > 0

        - name: Wait for port forwarding to be established
          ansible.builtin.wait_for:
            port: "{{ keycloak_fport }}"
            host: localhost
            delay: 5
            timeout: 30
          when: keycloak_service.resources | length > 0

        - name: Set Keycloak URL
          ansible.builtin.set_fact:
            keycloak_url: "http://localhost:{{ keycloak_fport }}"
          when: keycloak_service.resources | length > 0

        - name: Get Keycloak access token via local curl
          ansible.builtin.uri:
            url: "{{ keycloak_url }}/realms/master/protocol/openid-connect/token"
            method: POST
            body_format: form-urlencoded
            body:
              username: "{{ keycloak_admin_user }}"
              password: "{{ keycloak_admin_password }}"
              grant_type: "password"
              client_id: "admin-cli"
            return_content: yes
            validate_certs: no
          register: keycloak_token_response
          when:
            - keycloak_pod is defined
            - keycloak_admin_password is defined

        - name: Parse access token
          ansible.builtin.set_fact:
            keycloak_access_token: "{{ keycloak_token_response.json.access_token }}"
          when:
            - keycloak_token_response is defined
            - keycloak_token_response.json is defined

        - name: Query Keycloak for users in EnterpriseRAG realm
          ansible.builtin.uri:
            url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/users"
            method: GET
            headers:
              Authorization: "Bearer {{ keycloak_access_token }}"
              Content-Type: "application/json"
            return_content: yes
            validate_certs: no
          register: keycloak_users_response
          when:
            - keycloak_pod is defined
            - keycloak_access_token is defined

        - name: Query Keycloak for roles in EnterpriseRAG realm
          ansible.builtin.uri:
            url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/roles"
            method: GET
            headers:
              Authorization: "Bearer {{ keycloak_access_token }}"
              Content-Type: "application/json"
            return_content: yes
            validate_certs: no
          register: keycloak_roles_response
          when:
            - keycloak_pod is defined
            - keycloak_access_token is defined

        - name: Query Keycloak for clients in EnterpriseRAG realm
          ansible.builtin.uri:
            url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/clients"
            method: GET
            headers:
              Authorization: "Bearer {{ keycloak_access_token }}"
              Content-Type: "application/json"
            return_content: yes
            validate_certs: no
          register: keycloak_clients_response
          when:
            - keycloak_pod is defined
            - keycloak_access_token is defined

        - name: Query Keycloak for groups in EnterpriseRAG realm
          ansible.builtin.uri:
            url: "{{ keycloak_url }}/admin/realms/{{ keycloak_realm }}/groups"
            method: GET
            headers:
              Authorization: "Bearer {{ keycloak_access_token }}"
              Content-Type: "application/json"
            return_content: yes
            validate_certs: no
          register: keycloak_groups_response
          when:
            - keycloak_pod is defined
            - keycloak_access_token is defined

    - name: Parse Keycloak data
      ansible.builtin.set_fact:
        keycloak_users_count: "{{ keycloak_users_response.json | length }}"
        keycloak_roles_count: "{{ keycloak_roles_response.json | length }}"
        keycloak_clients_count: "{{ keycloak_clients_response.json | length }}"
        keycloak_groups_count: "{{ keycloak_groups_response.json | length }}"
      when:
        - keycloak_pod is defined
        - keycloak_users_response.json is defined
        - keycloak_roles_response.json is defined

    - name: Save Keycloak data to facts for YAML report
      ansible.builtin.set_fact:
        keycloak_report_data:
          component: "{{ keycloak_deployment_name }}"
          users_count: "{{ keycloak_users_count | int }}"
          roles_count: "{{ keycloak_roles_count | int }}"
          clients_count: "{{ keycloak_clients_count | int }}"
          groups_count: "{{ keycloak_groups_count | int }}"
      when: keycloak_pod is defined

    - name: Stop port forwarding
      ansible.builtin.command: >
        pkill -f "kubectl port-forward svc/keycloak-http -n {{ keycloak.namespace }} {{ keycloak_fport }}:80"
      when: keycloak_pod is defined
      ignore_errors: true
