# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Set up data consistency report directory and variables
  tags:
    - always
  ansible.builtin.set_fact:
    data_consistency_report_dir: "{{ deployment_dir }}/upgrade/reports"
    data_consistency_yaml_report_name: "{{ data_consistency_yaml_report_name | default('consistency-report.pre.yaml') }}"
    data_consistency_markdown_report_name: "consistency-report.md"

- name: Ensure reports directory exists
  tags:
    - always
  ansible.builtin.file:
    path: "{{ data_consistency_report_dir }}"
    state: directory
    mode: '0755'

- name: Data consistency check tasks
  tags:
    - always
  block:
    - name: Find old data consistency reports
      ansible.builtin.find:
        paths: "{{ data_consistency_report_dir }}"
        patterns:
          - "consistency-*report*.md"
          - "consistency-*report*.yaml"
      register: old_markdown_reports

    - name: Delete old data consistency reports
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ old_markdown_reports.files }}"
      when: old_markdown_reports.files | length > 0

    - name: Check EDP data consistency
      ansible.builtin.include_tasks: check_edp.yaml
      when: edp is defined and edp.enabled | default(false)

    - name: Check Vector Database data consistency
      ansible.builtin.include_tasks: check_vdb.yaml
      when: vector_databases is defined and vector_databases.enabled | default(false)

    - name: Check MinIO data consistency
      ansible.builtin.include_tasks: check_minio.yaml
      when: edp is defined and edp.enabled | default(false) and edp.storageType | default('') == "minio"

    - name: Check Fingerprint data consistency
      ansible.builtin.include_tasks: check_fingerprint.yaml
      when: fingerprint is defined and fingerprint.enabled | default(false)

    - name: Check Chat History data consistency
      ansible.builtin.include_tasks: check_chat_history.yaml
      when: chat_history is defined and chat_history.enabled | default(false)

    - name: Check Keycloak data consistency
      ansible.builtin.include_tasks: check_keycloak.yaml
      when: keycloak is defined and keycloak.enabled | default(false)

    - name: Generate summary data consistency report
      ansible.builtin.include_tasks: generate_summary.yaml

    - name: Display data consistency report location
      ansible.builtin.debug:
        msg: "Data consistency report generated at: {{ data_consistency_report_dir }}/{{ data_consistency_markdown_report_name }}"
