# Copyright (C) 2024-2025 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

replicaCount: 1

nameOverride: "fingerprint"
fullnameOverride: "fingerprint-svc"

alternateTagging: false

image:
  fingerprint:
    name: "erag-system-fingerprint"
    repository: "docker.io/opea"
    tag: "latest"
    pullPolicy: Always

service:
  targetPort: http
  port: 6012
  name: http

# FerretDB configuration
ferretdb:
  nameOverride: "fingerprint-mongodb"
  fullnameOverride: "fingerprint-mongodb"
  service:
    type: ClusterIP
    port: 27017
    targetPort: 27017
  postgresql:
    auth:
      database: "postgres"
      username: "fingerprint"
      password: "{{ FINGERPRINT_POSTGRES_PASSWORD }}"
      secretName: "mongo-database-secret"
    persistence:
      enabled: true
      size: 4Gi

proxy:
  httpProxy: ""
  httpsProxy: ""
  noProxy: ""

resources:
  requests:
    memory: "64Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: 1

nodeSelector: {}
tolerations: []
affinity: {}

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 3000
  fsGroup: 2000
  seccompProfile:
    type: RuntimeDefault

containerSecurityContext:
  capabilities:
    drop:
      - ALL
  runAsNonRoot: true
  allowPrivilegeEscalation: false

podAnnotations: {}
imagePullSecrets: []
