# Copyright (C) 2024-2026 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

---
- name: Load settings
  ansible.builtin.include_tasks:
    file: load_settings.yaml
    apply:
      tags:
        - always
        - pre-upgrade
        - update-configuration
        - display-configuration
  tags:
    - always
    - install
    - display-configuration
    - uninstall
    - pre-upgrade
    - update-configuration

- name: Validate tools
  ansible.builtin.include_tasks:
    file: validate_tools.yaml
    apply:
      tags:
        - pre-upgrade
  tags:
    - install
    - validate-tools
    - uninstall
    - pre-upgrade
    - update-configuration

- name: Validate configuration
  ansible.builtin.include_role:
    name: common/validate_config
  tags:
    - install

- name: Create log directory if it does not exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '755'
  loop:
    - "{{ log_dir }}"
    - "{{ tmp_dir }}"
  tags:
    - install
    - uninstall
    - pre-upgrade
    - update-configuration

- name: Clean up old metadata files from previous run
  ansible.builtin.include_role:
    name: manifest-compare
    tasks_from: cleanup.yaml
  tags:
    - install
    - pre-upgrade

- name: Handle certificates
  vars:
    tls_file_prefix: "tls"
    certs_autogenerate: "{{ certs.autoGenerated }}"
    certs_preset_pathToCert: "{{ certs.pathToCert | default('') }}"
    certs_preset_pathToKey: "{{ certs.pathToKey | default('') }}"
    extra_san: >-
      {{
        [] +
        ([ui.domainName] if ui.enabled | default(false) else []) +
        ([keycloak.domainName] if keycloak.enabled | default(false) else []) +
        ([edp.minio.domainName] if (edp.enabled and edp.storageType == "minio") | default(false) else []) +
        ([edp.minio.apiDomainName] if (edp.enabled and edp.storageType == "minio") | default(false) else []) +
        ([telemetry.domainName] if telemetry.enabled | default(false) else [])
      }}
  ansible.builtin.include_role:
    name: common/certs
  tags:
    - install

- name: Load credentials from password management
  ansible.builtin.include_role:
    name: password_mgmt
    tasks_from: lookup.yaml
    apply:
      tags:
        - install
        - pre-upgrade
  tags:
    - install
    - pre-upgrade

- name: Load init passwords
  ansible.builtin.include_role:
    name: generate_password
    apply:
      tags:
        - install
        - pre-upgrade
  tags:
    - install
    - pre-upgrade
