name: Slim release
on:
  pull_request:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      SIZE_LIMIT: 524288  # 512KB in bytes
      SLIM_SUFFIX: "-slim"
      BASE_RELEASE: "1.5.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BASE_RELEASE }}

