name: Slim release
on:
  pull_request:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    env:
      SIZE_LIMIT: 524288  # 512KB in bytes
      SLIM_SUFFIX: "-slim"
      BASE_RELEASE: "release-1.5.0"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BASE_RELEASE }}

#      - name: Install base deps
#        run: sudo apt-get update && sudo apt-get install -y wget git
#
#      # Copy-pasted from https://github.com/cli/cli/blob/trunk/docs/install_linux.md#recommended-official
#      - name: Install GitHub CLI
#        run: |
#          (type -p wget >/dev/null || (sudo apt update && sudo apt install wget -y)) \
#          && sudo mkdir -p -m 755 /etc/apt/keyrings \
#          && out=$(mktemp) && wget -nv -O$out https://cli.github.com/packages/githubcli-archive-keyring.gpg \
#          && cat $out | sudo tee /etc/apt/keyrings/githubcli-archive-keyring.gpg > /dev/null \
#          && sudo chmod go+r /etc/apt/keyrings/githubcli-archive-keyring.gpg \
#          && sudo mkdir -p -m 755 /etc/apt/sources.list.d \
#          && echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null \
#          && sudo apt update \
#          && sudo apt install gh -y

      - name: Check if slim release exists
        id: check_slim_release
        run: |
          if gh release view "${{ env.BASE_RELEASE }}${{ env.SLIM_SUFFIX }}" >/dev/null 2>&1; then
            echo "exists=true" >> "$GITHUB_OUTPUT"
            echo "Slim release ${{ env.BASE_RELEASE }}${{ env.SLIM_SUFFIX }} already exists"
          else
            echo "exists=false" >> "$GITHUB_OUTPUT"
            echo "Slim release ${{ env.BASE_RELEASE }}${{ env.SLIM_SUFFIX }} does not exist"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
