{#
Copyright (C) 2024-2025 Intel Corporation
SPDX-License-Identifier: Apache-2.0
#}

domainName: &dname {{ ui.domainName }}
tlsSecret: &tlssecret {{ ui.tls.secret_name }}
{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}
{% if tag is defined %}
image:
  ui:
    tag: {{ tag }}
{% endif %}
    repository: {{ registry }}
{% if ui.additional_values is defined %}
{{ ui.additional_values | to_nice_yaml }}
{% endif %}
