domainName: &dname {{ ui.domainName }}
tlsSecret: &tlssecret {{ ui_tls_secret_name }}
{% if use_alternate_tagging is defined %}
alternateTagging: {{ use_alternate_tagging }}
{% endif %}
{% if tag is defined %}
image:
  ui:
    tag: {{ tag }}
{% endif %}
{% if ui.additional_values is defined %}
{{ ui.additional_values | to_nice_yaml }}
{% endif %}
