- name: Set balloons policy file
  ansible.builtin.set_fact:
    balloons_policy_file: "{{ tmp_dir }}/{{ balloons.helm.release_name }}-{{ item.key }}-override-values.yaml"
  tags:
    - install
    - update-configuration

- name: Generate Balloons policy
  ansible.builtin.template:
    src: "values.yaml.j2"
    dest: "{{ balloons_policy_file }}"
    mode: '0644'
  vars:
    nodeName: "{{ item.key }}"
    amx_supported: "{{ item.value.amx_supported }}"
    maxBalloonsVLLM: "{{ optimal_replicas[item.key].replicas }}"
    maxBalloonsReranker: "{{ optimal_replicas[item.key].replicas }}"
    maxBalloonsEmbedding: "{{ optimal_replicas[item.key].replicas }}"
    gaudi: "{{ item.value.gaudi }}"
    vllm_cpus: "{{ optimal_replicas[item.key].adjusted_vllm_size if vllm_custom_pods is not defined else vllm_custom_pods[0].cpu_limits }}"
    reranker_cpus: "{{ RERANKER_CPUS }}"
    embedding_cpus: "{{ EMBEDDING_CPUS }}"
    maxReplicasGaudi_VLLM: "{{ maxReplicasGaudi_VLLM }}"
    cpus_per_numa_node: "{{ item.value.cpus_per_numa_node }}"
  tags:
    - install
    - update-configuration

- name: Apply balloons policy
  kubernetes.core.k8s:
    state: present
    src: "{{ balloons_policy_file }}"
  tags:
    - install
    - update-configuration

- name: Identify if node is eligible for inference
  set_fact:
    inference_eligible_label: >-
      {{ 'true' if (item.value.amx_supported | bool and optimal_replicas[item.key].replicas | int != 0) else 'false' }}
  tags:
    - install
    - update-configuration
- name: Identify if node is eligible for vllm
  set_fact:
    inference_eligible_vllm_label: >-
      {{ 'true' if (item.value.amx_supported | bool and optimal_replicas[item.key].replicas | int != 0) else 'false' }}
  tags:
    - install
    - update-configuration
- name: Label node as inference-eligible for inference
  kubernetes.core.k8s:
    state: patched
    kind: Node
    api_version: v1
    name: "{{ item.key }}"
    definition:
      metadata:
        name: "{{ item.key }}"
        labels:
          inference-eligible: "{{ inference_eligible_label | string | lower }}"
  tags:
    - install
    - update-configuration

- name: Label node as inference-eligible for vllm
  kubernetes.core.k8s:
    state: patched
    kind: Node
    api_version: v1
    name: "{{ item.key }}"
    definition:
      metadata:
        name: "{{ item.key }}"
        labels:
          inference-eligible-vllm: "{{ inference_eligible_vllm_label | string | lower }}"
  tags:
    - install
    - update-configuration

- name: Add taint if node is eligible for vllm
  kubernetes.core.k8s:
    state: patched
    kind: Node
    api_version: v1
    name: "{{ item.key }}"
    definition:
      spec:
        taints:
          - key: inference_eligible_vllm
            value: "true"
            effect: PreferNoSchedule
  when: inference_eligible_vllm_label | lower == 'true'
  tags:
    - install
    - update-configuration

- name: Add taint if node is eligible for inference
  kubernetes.core.k8s:
    state: patched
    kind: Node
    api_version: v1
    name: "{{ item.key }}"
    definition:
      spec:
        taints:
          - key: inference_eligible
            value: "true"
            effect: PreferNoSchedule
  when: inference_eligible_label | lower == 'true'
  tags:
    - install
    - update-configuration
